[2018-05-24 20:57] sushain97 opened #4 "Setup doc generation"
- [x] Sphinx
- [x] Readthedocs

[2018-05-25 07:12] sushain97 opened #5 "Achieve 95% test coverage"

[2018-05-25 07:12] sushain97 opened #6 "Appveyor Apertium installation"
maybe through `setup.py install`? - Linux could piggyback off that too

[2018-05-25 07:44] sushain97 opened #7 "More seamless path"
- [ ] Let's rename from `pairs_path` to just `path`. There don't need to be only pairs under it, there can be language modules as well.
- [ ] I should be able to adjust it like `apertium.path.extend(...)` or `apertium.path = ...`. Not an unintuitive `append_pairs_path` function. The module should keep track of what path it used for its last search and if it's different from the current one, re-sea

[2018-05-27 05:45] sushain97 opened #8 "Switch analyze/generate arguments"
It should be `apertium.analyze(lang, text)` and `apertium.generate(lang, text)` so that `functools.partial`, etc. are easy to use.

[2018-05-27 05:48] sushain97 opened #9 "Generation isn't consistent with apertium CLI and breaks"
Currently, some of these break and they're not consistent with the CLI.

- [ ] remove SEPARATOR code that I don't think is useful here
- [ ] perform as below
- [ ] tests for each of those cases

[code]

[2018-05-27 05:49] sushain97 commented on #9
@arghyatiger I think this is most important and should be fixed first.

[2018-05-27 05:52] arghyatiger commented on #9
@sushain97  Ohh, this is bad. :/  I'll fix this first

[2018-05-27 19:28] sushain97 commented on #9
As I said on the original PR, you need to make branches like issue-9 from
master and make PRs from those. I'm not looking through a 60 commit diff
that includes all of the old stuff :)

On Sun, May 27, 2018, 12:21 PM Arghya Bhatttacharya <
notifications@github.com> wrote:

[2018-05-27 22:05] sushain97 opened #13 "Add py.typed"

[2018-05-27 22:06] sushain97 opened #14 "Add setup.py"

[2018-05-31 03:02] sushain97 opened #15 "Subprocess translation implementation"

[2018-05-31 03:02] sushain97 opened #16 "Analysis SWIG implementation (lt-proc -w)"

[2018-06-02 02:45] sushain97 opened #17 "Better mode introspection"
`apertium.analyzers` and `apertium.generators` need to have `Analyzer` and `Generator` objects that I can run `analyze` and `generate` on.

[2018-06-02 02:45] sushain97 opened #18 "__main__.py that says what is installed"

[2018-06-02 02:47] #9 closed

[2018-06-02 02:48] #8 closed

[2018-06-02 02:50] sushain97 opened #19 "Review and implement other common modes in modes.xml (subprocess impl)"
Maybe `tagger` and `disam`?

[2018-06-02 02:54] sushain97 opened #20 "Cleanup readme and docstrings"

[2018-06-02 05:19] arghyatiger commented on #15
[code]
@sushain97
This is the first output I got.
I don't understand the symbols though.
Any idea why the symbols appear ?

[2018-06-02 05:50] sushain97 commented on #15
I don't know... you're asking me to debug something without the associated code :)

[2018-06-02 06:04] arghyatiger commented on #15
@sushain97
Yeah, sorry about that. I've made an initial module commit. (translate branch)
If you could tell me the things I need to change (I'm sure there will be a lot)

[2018-06-02 06:05] arghyatiger commented on #15
Among the things I'm not clear about are primarily where and how I'll be using the format arguments and no-split.

[2018-06-02 06:06] arghyatiger commented on #15
another output:

[code]

[2018-06-02 06:09] arghyatiger commented on #15
Following is the apy terminal output
[code]

Web output:
[code]

[2018-06-02 06:15] sushain97 commented on #15
You need to set your locale.

[2018-06-02 06:15] sushain97 commented on #15
http://wiki.apertium.org/wiki/Installation_troubleshooting#Warning:_unsupported_locale.2C_fallback_to_.22C.22.22

[2018-06-02 06:27] sushain97 commented on #15
No, it has nothing to do with Spanish. See the link.

[2018-06-02 06:29] sushain97 opened #21 "Format argument tests"

[2018-06-02 06:36] arghyatiger commented on #15
I don't get the locale error anymore
However, this is the output
[code]

[2018-06-02 06:39] sushain97 commented on #15
Works fine for me:

[code]

You'll need to do some debugging. Your formatting arguments are probably off. Also, it shouldn't take one string. The API should be more like `apertium.translate('en', 'es', ...)`.

[2018-06-02 06:41] arghyatiger commented on #15
This is weird

[code]
for me

[2018-06-02 06:42] sushain97 commented on #15
Lol, I dunno. That isn't too relevant though. You could easily have a different version than I do.

[2018-06-02 06:42] arghyatiger commented on #15
I have the version mentioned in the travis build

[2018-06-02 06:46] sushain97 commented on #15
The travis build isn't pinned to a version...

[2018-06-02 06:51] arghyatiger commented on #15
oh okay,

[code]
Is all I had done.

Anyway, since this isn't too relevant, I think I'll focus on the formatting errors now :)
I think there's a problem in using the ``` execute() ``` function that I'm using for analysis and generation

[2018-06-02 07:08] sushain97 commented on #15
Yes, I built from source.

[2018-06-04 08:14] arghyatiger commented on #15
@sushain97  I'm having trouble figuring out why the output isn't appropriate.
When you have time, could you take a look at the code and tell me what I might be doing wrong?

[2018-06-04 17:37] arghyatiger commented on #15
I've solved the problem so never mind :)

[2018-06-05 05:14] sushain97 commented on #15
Sounds good! Looking forward to the PR tomorrow.

[2018-06-06 06:06] sushain97 opened #23 "Use pipeline from modes.xml for analyzer/generator instead of apertium executable"

[2018-06-09 07:42] arghyatiger commented on #18
You mean when one does ``` import apertium ``` it should print all the modes installed?

[2018-06-09 07:44] arghyatiger commented on #17
I was thinking Class Analyze and Class Generate in ```analysis/__init.py``` and ```generation/__init.py``` which has the function definitions presently in ```__init.py__``` ?

[2018-06-09 08:00] sushain97 commented on #18
No, that's not what main.py is for.

On Sat, Jun 9, 2018, 12:42 AM Arghya Bhatttacharya <notifications@github.com>
wrote:

[2018-06-09 08:56] sushain97 commented on #17
Why not the names I mentioned in the ticket?

[2018-06-09 09:08] arghyatiger commented on #17
Sure. The names you mentioned as classes then !

[2018-06-09 09:15] sushain97 commented on #17
Yeah. Foo objects means a class named Foo.

[2018-06-10 06:13] arghyatiger commented on #17
@sushain97

Two implementation options:

[code]

or

[code]
Also, All of this code to be pushed in the same PR? Because It has a lot of different issues that are being worked on simultaneously

[2018-06-10 06:19] arghyatiger commented on #17
Also,

This is how the modules look now

[code]

[2018-06-10 09:17] xavivars commented on #17
IMHO, the first option is even sillier, as you get an object that you can barely reuse.

I think the generator could get as part of the constructor language and/or format, and get the text as part of the generate method. By doing that, you could for example use the same object across multiple "generation requests".

What do you think?

[2018-06-10 09:20] arghyatiger commented on #17
@xavivars

Yes, makes sense :)
We can use a generator object for a particular language across multiple requests. Sounds a lot more cleaner

[2018-06-10 09:30] sushain97 commented on #17
Oh, I completely misread the first option and thought it was exactly what @xavivars wants. My bad.

@arghyatiger if you check our email chain, I proposed the APIs for all this stuff back when we started :)

I think the formatting argument can stay with the method call for now.

[2018-06-10 09:30] sushain97 commented on #17
Oops, wrong button.

[2018-06-10 09:34] sushain97 commented on #17
Copied since I don't think Xavi has seen it:

hola

(also accepting 2-letter codes, of course)

or equivalently:

hola

hola

or even more generally:

True

[2018-06-10 09:37] arghyatiger commented on #17
@sushain97  I'll take a look at them now.

also, it seems I need some git help :p

I've added the changes to this issue with the translation change in the translation branch.
Is it okay if I keep working on this branch?
(I'd really love to change, but can't figure out a smooth way of doing it)
Making a new branch, pulling master and making the same changes there again seems like an overkill

[2018-06-10 17:17] sushain97 commented on #17
Use git cherry pick.

On Sun, Jun 10, 2018, 2:37 AM Arghya Bhatttacharya <notifications@github.com>
wrote:

[2018-06-27 22:49] sushain97 opened #24 "Get rid of type: ignore"
There are a lot of them that I don't think we need.

[2018-06-27 22:50] #15 closed

[2018-06-27 22:50] #23 closed

[2018-06-27 23:01] sushain97 commented on #17
@arghyatiger what do `apertium.analyzers`, `apertium.generators` and `apertium.translators` look like now? I think those should be part of the public API and have a list of objects that can translate.

[2018-06-27 23:02] sushain97 opened #25 "Improved __repr__/__str__ for Analyzer/Generator/Translator"
I'm not sure what they are now but they're probably not too helpful

[2018-06-30 05:43] arghyatiger commented on #25
@sushain97

[code]
Is the structure okay ?

[2018-06-30 06:07] sushain97 commented on #25
Ideally, `__repr__` would recreate the class. So, `repr(a) == "Analyzer(lang='eng')"` and `str(a) == "<Analyzer: eng-morph>"` seems nice.

[2018-06-30 07:32] arghyatiger commented on #17
@sushain97 All modules have access options from apertium and through making respective objects.

[2018-06-30 15:04] sushain97 commented on #25
There is a mode. It's something like spa-cat_valencia. The fact that we're parsing a mode implies there is one.

[2018-07-03 08:10] arghyatiger commented on #24
@sushain97  I'm working on this in a separate branch.
I've removed some of the comments but I'm not able to figure out what's wrong with the following function

[code]

could you take a look ?

[2018-07-03 08:18] arghyatiger commented on #7
@sushain97  could you explain to me with examples what you're looking for?
sorry but things aren't clear to me

[2018-07-03 08:22] arghyatiger commented on #17
@sushain97  Public API as in? the main branch?
Also, I'm not sure what you mean by having a list of objects that can translate?

[2018-07-03 10:29] sridharbodla opened #26 "I am trying to check with Python but getting an error.."
![image](https://user-images.githubusercontent.com/2509305/42214755-0bdb229a-7eda-11e8-99eb-de3fb086c37f.png)

=> please suggest me how to use this module.

![image](https://user-images.githubusercontent.com/2509305/42215510-4da3239c-7edc-11e8-9769-6371fb57cff4.png)

Do i have to install any modules

[2018-07-03 11:09] arghyatiger commented on #26
@sridharbodla  are you in the repository home when you're trying to import apertium?

[2018-07-03 11:10] arghyatiger commented on #26
Also, you need to install the requirements.txt which has all the dependencies. Along with which you need to install the language specific data as well.

[2018-07-03 11:13] arghyatiger commented on #26
[code]
Run this first and get all the apertium language-specific data and install apertium
then pip install the requirements.txt

[2018-07-03 11:33] sridharbodla commented on #26
How to install this in windows?

[2018-07-03 15:56] sushain97 commented on #26
This is not ready for Windows usage.

See https://github.com/apertium/apertium-python/issues/6 for the issue which once closed, would indicate Windows support.

[2018-07-03 15:57] sushain97 commented on #7
Which part? The example and implementation details are in the second bullet point above.

[2018-07-03 15:57] sushain97 commented on #24
What's the error?

[2018-07-04 04:18] sushain97 commented on #17
The public API is the part that's documented and not munged. Things that are not part of the public API ought to have a leading underscore.

A list of `Translator` objects. This isn't really a super important ask right now, though.

[2018-07-04 05:58] arghyatiger commented on #24
[code]

[2018-07-04 05:59] arghyatiger commented on #24
90 and 103 are the lines with the ignore comment in them

[2018-07-04 06:04] sushain97 commented on #24
If `result` is a `str`, then why are you calling `.decode` on it?

For L90, I suggest doing something like `l1, l2 = map(to_alpha3_code, [self.l1, self.l2])` first.

[2018-07-04 06:19] arghyatiger commented on #7
Why do I have to re-search? when someone extends the paths list. Isn't it just enough to update_modes?
What I mean is, when one enters a new path, can't we just run ```update_modes``` on that path?

[2018-07-04 07:35] sushain97 commented on #7
How do you propose detecting this?

[2018-07-04 08:35] arghyatiger commented on #7
something like
[code]

[2018-07-04 08:58] sushain97 commented on #7
Ah, yeah that seems like it would work. Good idea! Go for it.

[2018-07-04 09:00] sushain97 commented on #24
Then, is the function that produces result typed badly?

On Tue, Jul 3, 2018, 11:28 PM Arghya Bhatttacharya <notifications@github.com>
wrote:

[2018-07-04 09:09] arghyatiger commented on #24
@sushain97  Yes, that was the issue

[2018-07-06 08:38] arghyatiger commented on #7
@sushain97  I've committed the code. Could you take a look at it? It's in a different branch.
Also, I'm not sure what kinds of tests to write for this. Could you help me with that?

[2018-07-07 04:12] sushain97 commented on #7
Link or PR?

Also, the list solution needs to work if I insert an element into the list at a random position or just change the list completely a la `apertium.pairs_path = [foo, bar]`.

For the tests, you can create a temporary directory with some fake modes and ensure those get picked up after you add to the path.

[2018-07-07 13:39] arghyatiger commented on #7
@sushain97
https://github.com/apertium/apertium-python/blob/seamless-path/apertium/__init__.py
This is what I had written.
The only issue is Paths is now a class which inherits from List
And hence it's declaration requires Initialization of the class
Won't be as easy as ```apertium.pairs_path = [foo, bar]```
Users need to do something like```apertium.pairs_path = Paths([foo, bar])```

[2018-07-12 06:52] arghyatiger commented on #6
@sushain97  some idea on how I should proceed with this?
Also, for testing and implementation, a VM for windows should work?

[2018-07-12 06:55] sushain97 commented on #6
Yea.

I'm afraid not. Some googling is probably the best course of action. There are some links I've sent that are also related.

[2018-07-12 07:05] arghyatiger commented on #6
Sure, I'll figure it out

On Thu, Jul 12, 2018, 12:25 PM Sushain Cherivirala <notifications@github.com>
wrote:

[2018-07-24 09:23] arghyatiger commented on #6
@sushain97  I've been able to make  ```lt-proc``` and other similar commands work on the windows command prompt.

But I encounter this error when I try to run the library

[code]
I'm working on this.
Do you by any chance have a hint of what might be going wrong?
subprocess module does exist

[2018-07-24 16:51] sushain97 commented on #6
That sounds like lt-proc isn't on the path when Python tries to execute it.

Is it?

On Tue, Jul 24, 2018 at 2:23 AM Arghya Bhatttacharya <
notifications@github.com> wrote:

[2018-07-28 13:02] arghyatiger commented on #6
@sushain97

[code]

eng-gener.mode has this path given by default.
Ideas on how I should go about this?

[2018-07-28 19:47] arghyatiger commented on #6
@sushain97

[code]

This are working finally. But the workaround seems really hacky. Theres a need to change the path in every .mode file.

Suggestions on how we can wrap the whole process and make it easier for people to use it?

[2018-07-28 20:55] sushain97 commented on #6
You can modify things that look like paths when you read mode files. How did you install the package? I would expect a proper Windows installation to also set the `.bin` path correctly.

[2018-07-29 11:09] arghyatiger commented on #6
STEPS FOLLOWED:

0. Path for the apertium-python set to ```apertium-all-dev/share/apertium```
1. Download ```apertium-all-dev.zip```
2, Extract and set it's ```apertium-all-dev/bin``` folder to the path
3. Download ```.deb``` language data
4. Extract using ```7z```
5. Copy the contents to of language data to ```apertium-all-dev/share/apertium```
6. All ```.mode``` files need to be updated as their

[2018-07-29 23:17] sushain97 commented on #6
Right, the `.deb` files are built in a particular way with that prefix.

We can't ask people to do this, unfortunately. That would make the install process unduly burdensome and confusing. It needs to be done automatically as a part of the extraction step or at time of `lt-proc` calls.

Also, we shouldn't make any assumptions about where the binaries are located, they should just be assumed to be

[2018-07-30 15:12] arghyatiger commented on #6
@sushain97
I'm writing a windows script that will download apertium-all-dev in the same repo and add it's bin to the PATH.

But there's a problem here as well.
There's something called the 7z which extracts .deb files in windows.
Now I don't know how I'm gonna install it from the script. Because I don't see a method for windows installation without a GUI.

thoughts?
Also, at this point what would

[2018-07-31 04:49] sushain97 commented on #6
A real user wouldn't have a repo on their disk, they would have an installed package.

There are definitely ways to extract the file using Python. Googling something like 'extract deb Python` might be useful. Maybe Tino also packages them as a plain tar.gz or something?

I'm not sure what you're asking.

[2018-07-31 04:54] arghyatiger commented on #6
Hi sushain,

Right now, the idea is if a user(like the one who reported an issue on
GitHub) clones the repo and tries to run Apertium+Python.They should be
able to.

And also get the appveyor test to pass.
That's why the script and everything.

Regards
Arghya Bhattacharya

On Tue, Jul 31, 2018, 10:19 AM Sushain Cherivirala <notifications@github.com>
wrote:

[2018-07-31 05:16] sushain97 commented on #6
This isn't a Windows installation though. The goal is to have this be pip-installable.

Yes. As I said, this should be done via `setup.py install`.

[2018-08-01 10:06] sridharbodla commented on #6
while i am trying with python jupyter notebook getting the below error.

![image](https://user-images.githubusercontent.com/2509305/43515651-ae010e2c-95a0-11e8-91db-fdd4ee214875.png)

[2018-08-02 06:28] arghyatiger commented on #6
@sushain97

How do you propose I should go about the .mode file modifications of the paths?

[2018-08-02 06:54] arghyatiger commented on #6
@sridharbodla  This isn't ready for windows installation yet. Once this issue is closed you can try to run it and we'll figure out the problems you're having :)

[2018-08-02 18:01] sushain97 commented on #6
Detect things that look like paths and map them to corresponding file on the Windows filesystem based on where the mode file is located. You'll have to be a little intelligent about it.

[2018-08-05 16:14] arghyatiger opened #32 "Analyzer code _get_commands() not processing first input."
[code]

But,

[code]

This happens only for analysis. Generation doesn't have any such issues.

[2018-08-08 07:39] arghyatiger commented on #32
INFO:

Happens when the command in mode file is passed.

Right now the pipeline uses  ```apertium``` command for analysis

[2018-08-08 08:59] arghyatiger commented on #4
@sushain97

https://github.com/apertium/apertium-python/tree/documentation

Tips for documentation?

[2018-08-09 09:14] arghyatiger commented on #4
@sushain97  Alright, it isn't much I've written till now. So I'll change it to markdown.

Also, yes I did look into Streamparser docs, I'm trying to correct the docstring format so ```automodule``` and ```autoclass``` can work properly

[2018-08-10 07:46] arghyatiger commented on #6
@sushain97

[code]
For analysis, I tried the ```lt-proc``` command directly but that has some postprocessing issues that I couldn't figure out.
I've created an issue for it.

[2018-08-16 06:28] arghyatiger commented on #6
@sridharbodla could you try cloning the ```windows``` branch and run Apertium+Python with the instructions in readme?

[2018-09-21 16:04] arghyatiger commented on #4
@sushain97  This task for GCI ?

[2018-09-21 17:17] sushain97 commented on #4
It's on the list.

On Fri, Sep 21, 2018, 9:04 AM Arghya Bhatttacharya <notifications@github.com>
wrote:

[2018-11-24 20:32] #4 closed

[2019-03-15 19:31] numan98khan commented on #32
I couldn't reproduce this bug. I am sorry but am I missing something? the above code gives me the results I want correctly.

[2019-03-15 19:42] numan98khan commented on #18
I want to work on this issue. What I want to understand is that is there further description of the problem or am I missing something? What installation must be reported by __main__.py?

[2019-03-15 19:51] numan98khan commented on #5
Sorry I am a noobie but I want to work on this issue and need further information.

[2019-03-15 19:52] numan98khan commented on #5
Is this referring to the tests provided within this repo?

[2019-03-15 20:15] sushain97 commented on #18
Have you read https://stackoverflow.com/questions/4042905/what-is-main-py ?

[2019-03-15 20:18] sushain97 commented on #5
It's testing the code in this repo, yes.

[2019-03-16 09:48] numan98khan commented on #5
ok got it. I am on this issue.

[2019-04-14 19:23] #6 closed

[2019-04-14 19:23] #26 closed

[2019-04-14 19:24] sushain97 opened #39 "Simple package installation functionality, tests, docs"
something like `apertium.install('en-es')`.

[2019-05-06 23:22] sushain97 opened #40 "GSoC Progress Updates"
This is an issue so that notifications come through nicely.

[2019-05-09 02:33] Vaydheesh commented on #40
[Black: The Uncompromising Code Formatter](https://github.com/python/black)
 - max-line-length is set to 160 in [.flake8](https://github.com/apertium/apertium-python/blob/master/.flake8#L2), whereas [default support is for 88](https://github.com/python/black#line-length). Should I modify it to 160?
- black uses double quotes, so it'll replace single quotes
- Regarding its integration with the proj

[2019-05-09 04:47] sushain97 commented on #40
Personally, I think 88 columns is too short. However, I really don't care that much. Also don't care about single/double quotes (despite having my own preference for the former). Don't worry about setting up commit hooks for now.

As far as checking goes, you can send a PR to switch the `flake8` checks to `black`. This also requires changing the `requirements-dev.txt` (we should really just switch

[2019-05-09 04:48] sushain97 opened #41 "Switch to pipenv"

[2019-05-10 10:58] Vaydheesh commented on #40
- I've put the black code formatter on hold for now. I'll use it locally and ensure that linter checks are also passed
- I have started working on apertium.analyzers Its calling eng-morph.mode which in turn calls lt-proc.exe So I am looking at its [source](https://github.com/apertium/lttoolbox/blob/master/lttoolbox/lt_proc.cc) . I am assuming this to be a good starting point
- The lt-proc is depen

[2019-05-10 16:53] sushain97 commented on #40
SGTM.

Exactly where I would start.

:D I think to start we'll only need to make the edges of the interface usable in Python? All of the FST processor itself doesn't need to be visible from Python.

My perspective is that we should start with wrapping as little as possible in order to get e.g. `eng-morph.mode` working without subprocesses. That definitely shouldn't require wrapping every single fi

[2019-05-10 16:54] sushain97 commented on #40
Note that if we did end up wrapping a large portion of `lttoolbox` based on some desire for such functionality, we should release that separately on PyPi and then depend on it here in the `apertium` module.

[2019-05-10 17:05] TinoDidriksen commented on #40
Regarding SWIG: The needed functions are the ones that https://github.com/apertium/lttoolbox/blob/master/lttoolbox/lt_proc.cc calls - grep for `fstp.` and `LtLocale::`. You shouldn't need to wrap more than that for now.

[2019-05-10 17:11] sushain97 commented on #40
Makes sense. The MVP is wrapping every function that `lt_proc.cc` calls when invoked with `-n`. A quick look makes that seem like:

https://github.com/apertium/lttoolbox/blob/master/lttoolbox/lt_proc.cc#L111
https://github.com/apertium/lttoolbox/blob/master/lttoolbox/lt_proc.cc#L230
https://github.com/apertium/lttoolbox/blob/master/lttoolbox/lt_proc.cc#L245
https://github.com/apertium/lttoolbox/bl

[2019-05-11 20:16] Vaydheesh commented on #40
- Instead of creating swig wrapper for every file, focus only on lt-proc
- The code is separated in different files, but no need to write wrapper for all of them. Unable to find something relevant to this problem in the docs.
- Hence implemented a working example of the above problem.
- Working example: foo() is defined in foo.cpp, which calls bar(), defined in bar.cpp Successfully implemented a w

[2019-05-12 16:14] sushain97 commented on #40
Great!

There's no real need to wrap `endProgram()` or `checkValidity()`. You can just replicate what they do in Python.

Why are we wrapping `main`? It looks to me like the SWIG docs recommend against it and I don't think it's needed either. The lines I noted above are really all that matters. We would need to replicate calls to them inside the Python but that's fine (especially for an MVP).

We

[2019-05-13 11:57] TinoDidriksen commented on #40
The SWIG `.i` file only needs to list the functions we want exported. So just don't list things from cstdlib or getopt or etc. Basically grep out the FST calls from `lt_proc.cc` and stuff those in a `.i` which includes the library headers in `%{ %}`.

The idea was never to wrap `lt_proc.cc` - it was to look in `lt_proc.cc` for what needs to be wrapped.

[2019-05-14 19:06] sushain97 commented on #40
@Vaydheesh any luck? Tino's advice should be helpful.

[2019-05-15 04:48] Vaydheesh commented on #40
I had exam on 14 and my next exam is tomorrow. So couldn't look into it. I'll try this after the exam

[2019-05-16 02:46] sushain97 commented on #40
Sounds good. Best of luck on your exams!

[2019-05-18 19:09] Vaydheesh commented on #40
- Working on a wrapper that can copy bare functionality of `lt-proc -w`
- While linking the object files with shared library, use flags for [libxml](https://stackoverflow.com/questions/11162271/libxml2-undefined-reference-to-xmltextreaderconstname/11166502#11166502)
- Demangled undefined symbols in shared library using `c++filt`
- Resolved various undefined symbols in shared library using `nm -Cu`

[2019-05-19 01:16] sushain97 commented on #40
Hope your exams went well. That sounds like a good start!

I'd like to see a PR soon (maybe tomorrow) even if it's a WIP. Tino and/or I can take a quick look to double check that you're not going down the wrong path.

[2019-05-23 00:55] sushain97 commented on #40
@Vaydheesh how's it going?

[2019-05-23 01:22] Vaydheesh commented on #40
- I've implemented the file descriptor approach
- When I call `init_analysis()` for existing files, with text to be analysed present in the file, I am getting desired output
- `mode` used for input and output files are `r` and `w` respectively.
- If I create new file, write the text to be analysed in input_file, call `init_analysis()`, the output is not flushed to output file.
- I've tried using `

[2019-05-23 01:24] sushain97 commented on #40
I'm a bit confused. You should be using `tempfile` to create new temporary output and input files for each call. They should never be reused (at least for now). If https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryFile isn't working well for you, try https://docs.python.org/3/library/tempfile.html#tempfile.NamedTemporaryFile.

[2019-05-23 02:39] Vaydheesh commented on #40
I am using separate files for input and output

- I started my work with tempfile, that didn't work
- Hence I tried with this, but it didn't work as well

-  Only then I tried using

- Now I am trying to find the cause using brute force
- I'll implement `temporary` file in the actual code

[2019-05-23 02:55] sushain97 commented on #40
Hmm, okay. Let me know if I can help. Something straightforward like

[code]

If you can get the above working, don't worry about file descriptors for now. I'd rather get something to work and then improve it than immediately trying to jump to the optimal approach.

[2019-05-23 03:18] Vaydheesh commented on #40
This is what I've run on interpreter

[code]
Output:
`4` for writing 'cats'

When I checked the temporary file created in `/tmp` using `cat $filename`
- One file has the text `cats`. `file $filename` prints `/tmp/tmp5irc7w1t: ASCII text, with no line terminators`
- No output for the other file.  `file $filename` prints `/tmp/tmp704eeaz1: empty`

[2019-05-23 03:29] sushain97 commented on #40
`print(output)` shouldn't print `4`. It should print whatever is in the file... Very odd.

I'm not sure if this will help at all but try using `tempfile.NamedTemporaryFile('r', delete=False)`.

[2019-05-23 03:30] sushain97 commented on #40
Also, instead of using `input()` to pause, do something like `breakpoint()`, then you can also inspect things.

[2019-05-23 03:32] Vaydheesh commented on #40
`4` is output of `input_file.write(input_text)`
`print(output)` doesn't print anything

[2019-05-23 03:34] Vaydheesh commented on #40
The file persists, but it is empty

[2019-05-23 03:35] sushain97 commented on #40
Try adding some debugging to the C++ (or using gdb I suppose) to figure out whether the issue is that there's no input being read or the output isn't being written? You can also try using https://en.cppreference.com/w/cpp/io/c/tmpfile and passing in/out strings. I don't like that approach since it requires more code in the C++ wrapper but lets see if we can get something to work first.

[2019-05-23 16:40] Vaydheesh commented on #40
- When I use following code, `input_text` gets written on the `text_in.txt` file, but `text_out.txt` is being filled with character `?`, with its size increasing continuously, due to which I have to kill the process

[code]

- Upon replacing `analysis(input, output);` with `fputs("foobar", output);` the output file has the desired content

[2019-05-23 22:25] sushain97 commented on #40
Ah, I thought already you had it working with non-temporary files. I'm not really sure why your example doesn't work. Maybe https://github.com/apertium/lttoolbox/blob/master/lttoolbox/lt_proc.cc#L308-L311? Shouldn't be relevant unless you're on Windows though. You shouldn't need to open them in append mode but that shouldn't matter.

@TinoDidriksen @unhammer any ideas? Probably something obvious.

[2019-05-24 06:39] unhammer commented on #40
What does the input contain? There are certain inputs that I've seen can lead lt-proc into endless loops (typically when stuff hasn't been through deformatters)

[2019-05-24 06:48] sushain97 commented on #40
Hmm, @Vaydheesh was using `'cats'` above which should work without a deformatter, no?

[code]

[2019-05-24 06:54] sushain97 commented on #40
Hmm... the issue could be that there's no terminating newline in the input file? e.g.

[code]

Maybe ensure that you have one?

[2019-05-24 06:54] Vaydheesh commented on #40
I have tried using `"cats"` and `"cats\0"` and `"cat"` and `"cat\0"`

[2019-05-24 06:58] sushain97 commented on #40
A null byte in a text file sounds like it could cause all sorts of issues. Given that our earlier problem was no output and when I try using a file without a newline, I get no output, that sounds suspiciously like it might be your issue.

[2019-05-24 07:01] sushain97 commented on #40
Note that passing the file through a deformatter first fixes it even when there is no newline:

[code]

[2019-05-24 08:18] unhammer commented on #40
passing undeformatted text through lt-proc is pretty much Undefined Behaviour, so I would start by ensuring whatever input there is has been through e.g. apertium-destxt

[2019-05-24 16:51] sushain97 commented on #40
Makes sense. Since we're just trying to verify the `lt-proc -a` wrapper, lets manually pass deformatted input.

[2019-05-25 06:15] Vaydheesh commented on #40
Compiling the observations while working on various approaches:
- Input string needs to be newline terminated (text has to be formatted properly)
- Non newline terminated string gives blank output.
- When input is written on file stream using c++, irrespective of its mode, the file stream needs to be reopened,  before passing to analysis. Using fflush() doesn't work
- If input file isn't reopened,

[2019-05-25 07:27] sushain97 commented on #40
This is all very odd. However, I'm fine leaving it a bit sub-optimal for now and getting something working first. We can open issues to clean it up.

Don't strip or modify anything. The input to `lt-proc -a` should always be the output of a deformatter, e.g. `apertium-destext`. This can be seen in the current Python: https://github.com/apertium/apertium-python/blob/master/apertium/analysis/__init_

[2019-05-26 14:19] Vaydheesh commented on #40
- Will submodule `lttoolbox`. After completing the wrapper, maybe we could directly clone latest stable release during the installation process.
- Working on makefile for building the wrapper.
- Will integrate the library with the output of `apertium-destxt`
- I also have exam tomorrow. So I'll continue the work after that

[2019-05-26 17:24] sushain97 commented on #40
Unfortunately, that won't work. If you run `pip install apertium`, you should 100% not be forced to download and all compile Apertium from source. Eventually, the `Makefile` and interfaces need to go into the `lttoolbox` repo itself and the result included with releases (similar to `hfst`). However, until we have a stable wrapper surface for the API, we can use a submodule just to make it easier f

[2019-06-03 03:51] Vaydheesh commented on #40
- Finally got the autotools to build the wrapper
- Now working on the unittests https://github.com/apertium/lttoolbox/tree/master/tests/lt_proc
- Right now I am using disutils because swig has documentation of the same http://swig.org/Doc1.3/Python.html#Python_nn6 and libdivvun is also using disutils https://github.com/divvun/libdivvun/blob/master/python/setup.py.in#L7. Should I use setuptools ins

[2019-06-03 04:45] sushain97 commented on #40
Awesome!

You should use `setuptools` if possible. It's the recommended way to do this stuff. What you're looking at is probably old and outdated.

Huh? I'm more interested in testing the `apertium` python library in this repo rather than the wrappers themselves.

Also, I'm guessing your exams are over now? I hope they went well. I'll be expecting daily updates again now :) Looking forward to your

[2019-06-04 17:46] sushain97 commented on #40
@Vaydheesh how's it going? Is it possible for you to split up the PR like I mentioned so that I could take a peek at things?

[2019-06-04 20:43] Vaydheesh commented on #40
My college is over now and I can devote all of my time for this project.
I have submitted the PR for review in lttoolbox.

[2019-06-05 01:41] sushain97 commented on #40
Sounds good! Taking a look right now. Can you also amend the PR in this repo?

[2019-06-11 03:12] sushain97 commented on #40
@Vaydheesh any updates? Don't forget to post daily updates or we'll have to schedule video chats :)

[2019-06-11 04:24] Vaydheesh commented on #40
Oops.. Really forgot about the daily updates.
Here is what I've been  working on.
- At first I tried using autotools port for windows, but that was taking a lot of time, so I switched over to use simple commands for building the shared library.
- MinGW reported error for `to_wstring`, which should've been patched few years ago. Hence I switch over to `Nuven MinGW`, which supports only 64 bit compi

[2019-06-11 19:36] sushain97 opened #43 "Drop Python 3.4 support for 3.7"
- [x] change the .travis.yml
- [ ] we can maybe use the new annotation syntax? i.e. no comments

[2019-06-11 21:05] sushain97 opened #44 "Use setup.py install in travis instead of manual install"

[2019-06-11 21:27] #41 closed

[2019-06-11 21:29] sushain97 commented on #40
Please be more careful on this note :)

I'm not really certain what's going on with the Windows paste you provided. I would try moving from the hello world example that works as slowly as possible to the lttoolbox version, i.e. in baby steps. Figuring out exactly where things start breaking is the key.

Your PR I reviewed looks on the right track. I left some comments. I just landed a bunch of cha

[2019-06-12 08:35] sushain97 opened #45 "Fix Windows appveyor translation tests"
Seems to be hanging?

[2019-06-12 08:36] sushain97 commented on #40
@Vaydheesh any luck?

[2019-06-12 09:10] Vaydheesh commented on #40
Trying to find the cause of import error on linux. Will switch to windows after getting things to work on windows

[2019-06-12 17:45] Vaydheesh commented on #40
- Apparently the shared library wasn't tracked, as it is being ignored, https://github.com/apertium/apertium-python/blob/master/.gitignore#L9. And shared libraries aren't compatible with different python version. Hence I've created separate shared library for every supported python version. This should help in enabling travis support for required python version
- Should we provide the shared libra

[2019-06-12 17:49] sushain97 commented on #40
:+1:

:+1:

I'm a bit confused. Are you _manually_ copying shared libraries/Python code that are created by lttoolbox's SWIG Makefile into this repo? I was under the impression that the shared libraries/Python code would be shipped by the lttoolbox installation itself.

[2019-06-12 17:51] sushain97 commented on #40
If you want to manually copy in things -- is your goal to avoid any actual changes to the lttoolbox release? While that's a nice sentiment, it won't work well since then someone who makes changes will need to create the shared libraries for all the different platforms themselves. Even if we have a script for creating and copying over the stuff, people don't always have all those platforms.  I'd pr

[2019-06-12 17:53] sushain97 commented on #40
I'm also not a huge fan of large binary blobs in VC. It'll bloat the history among other things.

[2019-06-12 18:08] Vaydheesh commented on #40
By lttoolbox are you referring to the `apertium-all-dev`? If yes, then it would be great if we could get the binaries shipped with it. The reason for copying things over was to ensure that all the checks are passing. These files can be removed when the nightly builds have started shipping the required python libraries.

For tomorrow, I am thinking of taking a look over the windows build, to get th

[2019-06-12 18:17] sushain97 commented on #40
`apertium-all-dev` would include it yes.

Ah, I see. I'd actually prefer not to merge a PR using the code until it actually works on CI via the `apt` installation of dependencies (with the SOs) instead of manual copying. But feel free to test to satisfy yourself :)

It's up to you but in my opinion, getting the Linux version polished and published in nightly might be a better thing to tackle first

[2019-06-12 18:29] Vaydheesh commented on #40
Something that clones the lttoolbox and installs the wrapper in the travis environment

[2019-06-13 21:44] Vaydheesh commented on #40
- Added a script for building lttoolbox wrapper and installing it in the travis environment. Travis debugging support helped a lot to get the correct commands to get the job done. Used `shellcheck` for the build script

[2019-06-14 04:47] sushain97 commented on #40
Sounds good! Hopefully that didn't take all day? Also, it looks like the travis build is still failing?

[2019-06-14 05:51] Vaydheesh commented on #40
- At first, I was trying to use `make install` but that didn't work well with python virtual environment.
- Then I switched to `./setup.py install`. Even this had some issues with python 3.5, as travis provides virtual environment for executing python scripts.
- After the things got working on python 3.5, the same config failed on newer python versions as they aren't running on virtualenv. So I ha

[2019-06-14 06:18] sushain97 commented on #40
Ah, that explains it. Glad to hear you got it working.

Just restarted it.

Sounds great. Let's get https://github.com/apertium/apertium-eng/blob/master/modes.xml#L14 working. It should be relatively straightforward at this point and it'll help make sure your `lt-proc` implementation is general enough.

[2019-06-15 16:16] Vaydheesh commented on #40
I've fixed the case issue with `lt-proc -g`. Should I move onto `lt-proc -b` https://github.com/apertium/apertium-eng-spa/blob/master/modes.xml#L297 and other arguments required  for `apertium.translate`

[2019-06-15 16:28] sushain97 commented on #40
Since you'll need `lt-proc -b` for translation, that sounds good to me. It looks like some of those modes also have `lt-proc` without any args so many handle those as well? Also, we should have some logging warnings when we take a subprocess approach instead of a wrapper.

[2019-06-15 16:29] sushain97 commented on #40
Good work by the way!

[2019-06-15 16:59] Vaydheesh commented on #40
I'll update the PR with all the cases required for handling `lt-proc` commands in translation mode file.

[2019-06-15 17:06] sushain97 commented on #40
Sounds good. Note that e.g. https://github.com/apertium/apertium-eng-spa/blob/master/modes.xml#L5 is a translator without any args.

[2019-06-15 17:33] ftyers commented on #40
@sushain97 @Vaydheesh no-args means `-a` implicitly. e.g. analysis.

[2019-06-16 14:14] Vaydheesh commented on #40
- I have wrapped required arguments of `lt-proc`. I tried looking up the code for `apertium-destxt`, but found this instead https://github.com/apertium/apertium/blob/bbb8799e82e2283627b5221def5130ef64af7895/.gitignore#L59. Should I skip this?
- Other files required for translation are-

    - `apertium-pretransfer` https://github.com/apertium/apertium/blob/master/apertium/apertium_pretransfer.cc

[2019-06-17 03:16] sushain97 commented on #40
Hmm, I too am a bit confused as to where `apertium_destxt`'s sources are. Can anyone shed light on that? Maybe, @ftyers ?

As far as the others go, it's up to you where you start! I'm fine with any really. They all seem reasonable. You may also want to go back to getting `lttoolbox` running on Windows/working with Tino to get it released/packaged.

[2019-06-17 05:11] TinoDidriksen commented on #40
`apertium_destxt` is generated from https://github.com/apertium/apertium/blob/master/apertium/txt-format.xml via https://github.com/apertium/apertium/blob/master/apertium/reformat.xsl

[2019-06-17 20:32] Vaydheesh commented on #40
- Added warning when calling subprocess
- Added flag `--enable-python-bindings` in lttoolbox
- now working on cross compiling the wrapper for windows

[2019-06-17 20:39] sushain97 commented on #40
Sounds good! Thanks for the update.

[2019-06-19 07:53] Vaydheesh commented on #40
- I have compiled the wrapper for windows. Currently Tino is using `mxe` for cross compiling the binaries, and I was trying to get them to build on windows itself using mingw. Though the process is a bit tricky but the wrapper is working as expected. The wrapper should work fine when cross compiled for windows as well.
- But, there are some issues in using `NamedTemporaryFile` on windows. No outpu

[2019-06-19 19:05] sushain97 commented on #40
That sounds good!

This is due to

RTFM! :)

There are more details here: https://bugs.python.org/issue14243. I think I'd suggest just using `delete=False` and cleaning up afterwards?

Are you certain that every step of the pipeline is being run? Does translating via `apertium -d` work?

[2019-06-20 06:43] Vaydheesh commented on #40
I'll make sure to go through documentation before raising such silly doubts ; )

👍

[code]

The output is

[code]

I am not sure how to run the shell script on windows platform

[2019-06-20 06:53] sushain97 commented on #40
Ahh, it only breaks on Windows? If so, see if you can find the minimal input to `lrx-proc` that will behave differently on Widnows vs. Unix. Then, we can file that as a bug potentially.

[2019-06-21 19:12] Vaydheesh commented on #40
`echo "^cat<n><pl>/gato<n><GD><pl>$^.<sent>/.<sent>$[]" | lrx-proc -m eng-spa.autolex.bin`

- I've compiled the lrx-proc for various commits, and things start to break from https://github.com/apertium/apertium-lex-tools/commit/2a77a50ba2eb601ea7ab98b85de171a4974b019a.
Tino was trying to fix https://github.com/apertium/apertium-lex-tools/issues/21, but I couldn't replicate the bug on my system. Als

[2019-06-21 20:28] sushain97 commented on #40
Hmm, okay. I suggest not spending too long on this. If its an underlying issue with the program, that can be fixed at a later time. Your time is better spent getting everything else working.

[2019-06-23 06:36] Vaydheesh commented on #40
I have completed the wrapper and the tests are being passed. Now working on travis script & the autotools part

[2019-06-24 04:52] sushain97 commented on #40
Sounds good. Are there any updated PRs I can look at?

[2019-06-24 05:22] Vaydheesh commented on #40
I am still working on the travis build script, hence I haven't create a PR yet. You can take a look at this commit. All the Major changes are included in this one
https://github.com/Vaydheesh/apertium-lex-tools/commits/swig_wrapper

[2019-06-24 08:47] sushain97 commented on #40
Ah. Shouldn't the build script be essentially identical to the one for `lttoolbox`? Also, you should be able to send a PR to `apertium-lex-tools` now, right?

[2019-06-24 10:53] Vaydheesh commented on #40
- Earlier I was having issue trying to get the `stdc++` flag required for building the wrapper and passing those arguments to `setup.py` file. I solved this by using `CXXFLAGS` in `setup.py.in`.
- A lot of previous commits were shown while generating PR in apertium-python. Unexpectedly, rebasing the branch took a fair amount of time.
- I've switched to `distutils` in setup.py https://github.com/ap

[2019-06-24 19:06] sushain97 commented on #40
Sounds good! One concern:

This shouldn't be the case. You should force update the master of your fork to align with apertium-python's master. Then, you can branch on your fork. However, for the sake of simplicity, I'll give you write access to this repo.

[2019-06-25 12:30] Vaydheesh commented on #40
I am wrapping apertium-pretransfer and need to split the function definition and declaration into different files. Can you suggest a name for the files. Usually the files were named after the class, but there are no such thing here

https://github.com/apertium/apertium/blob/master/apertium/apertium_pretransfer.cc

[2019-06-25 20:57] sushain97 commented on #40
Yeah, `apertium_pretransfer.h` sounds fine to me.

Darn. I can't think of something better than `apertium_core`. Maybe `apertium_cpp` but that seems eh. Go with `_core` unless we think of something better. It can't be that hard to tweak at a later time.

[2019-06-25 21:06] sushain97 opened #47 "Don't build wrappers in travis/conda/etc."
i.e. remove `build-swig-wrapper.sh`. I think the best way to accomplish this is via hosting each of the wrappers on PyPi.

[code]

[2019-06-25 21:06] #16 closed

[2019-06-25 21:08] sushain97 opened #48 "Support more flags for existing wrappers"
Do we need to do this? We should check what flags people actually use in the modes.

[2019-06-25 21:09] sushain97 opened #49 "Lttoolbox translation wrapper"
@Vaydheesh trying to make sure we keep track of what you're working on a bit in the issues as well. Just assign yourself to the relevant issue as you're working on it (or create a new one).

- [ ] `lrx-proc`
- [ ] `apertium-pretransfer`
- [ ] `apertium-tagger`
- [ ] `apertium-interchunk`
- [ ] `apertium-postchunk`

[2019-06-26 06:42] Vaydheesh commented on #40
I think there is some misunderstanding. I'll split `apertium-pretransfer.cc` into `pretransfer.h` & `pretransfer.cc`

`_core` is having issues due to the leading underscore. `core` would be very vague, should I just name that to be `apertium_core`.
After wrapping all the files, maybe we can ship all the wrappers in a single package.

[2019-06-26 07:03] sushain97 commented on #40
No, I meant `apertium_core` when I said `_core`. The latter would be far too generic.

Why not split `apertium-pretransfer.cc` into `apertium-pretransfer.h` and `apertium-pretransfer.cc`? That's the same convention that's used e.g. for `apertium-tagger`: https://github.com/apertium/apertium/blob/master/apertium/apertium_tagger.cc, https://github.com/apertium/apertium/blob/master/apertium/apertium_

[2019-06-26 07:48] Vaydheesh commented on #40
This is just a guess, but linking `apertium_pretranfer.cc` and `apertium_tagger.cc` might result in error, due to mutiple definitions of `main()`

[2019-06-26 10:23] sushain97 commented on #40
You can use namespaces to solve that issue, no?

[2019-06-26 14:35] Vaydheesh commented on #48
It should be pretty easy to add more flags. Simply adding more `case` in switch should allow more flags. I'll need some input and output to check proper function of the individual flags.

[2019-06-28 18:27] Vaydheesh commented on #40
I was facing many errors with swig interface file, so I created `apertium_core.cc` to test namespace.
[code]
This generates a lot of errors, 21879 lines, output of `head -n 10 error`
[code]
- I don't know how to resolve this issue. Moving the include statement out of namespace works fine.
- Maybe we can have separate wrappers for `main()`, so that no conflict occurs

[2019-06-29 01:05] sushain97 commented on #40
Hmm could you do something like moving everything that `main` does into another function which `main` calls. Then, don't include `main` in the header file? That sounds like it might work. Also, maybe it'll work if you include the header files, not `.c` files? I'm not super familiar with C++ namespaces. Perhaps Tino/Unhammer can provide some suggestions on IRC if neither of the above work. If possi

[2019-06-29 10:34] Vaydheesh commented on #40
I've tried including `.h` files, but the error persists. Following is a list of programs that are to be wrapped from `apertium`. The files marked can be wrapped simply, using the previous approach.

- [ ] `apertium-pretransfer` https://github.com/apertium/apertium/blob/master/apertium/apertium_pretransfer.cc#L280
- [x] `apertium-transfer` https://github.com/apertium/apertium/blob/master/apertium/a

[2019-06-30 05:21] sushain97 commented on #40
It looks like you should be able to wrap the `apertium_tagger` class (https://github.com/apertium/apertium/blob/master/apertium/apertium_tagger.h#L34) ?

As for `apertium_pretransfer`, maybe just make a class as well? That should be a simple change and an easy solution. I'm still not entirely sure why you can't just wrap the `processStream` function though.

[2019-06-30 06:57] Vaydheesh commented on #40
I've wrapped `apertium-transfer`, `apertium-interchunk` & `apertium-postchunk`

The `apertium_tagger` is defined in https://github.com/apertium/apertium/blob/master/apertium/apertium_tagger.cc#L815, which contains `main()`

If I create separate wrapper for `tagger` and `pretransfer` then it can be easily wrapped. But if I have to use a single wrapper, I need to link their object files (containing

[2019-06-30 07:52] sushain97 commented on #40
Hmm, I was under the impression that you could wrap just a single function from an object file, not everything. However, if that isn't possible, it looks like the repo currently has both an `apertium-interchunk.cc` and an `interchunk.cc`. Therefore, I'm fine with you creating a `pretransfer.c/h` and `tagger.c/h` that contain the actual code with their `apertium-` variants just calling it in `main`

[2019-06-30 07:54] sushain97 commented on #43
@Vaydheesh I think you got all the spots that can use the old syntax, right? If so, go ahead and close this issue.

[2019-06-30 07:56] sushain97 opened #50 "Gracefully fallback to subprocess when Python wrappers not available/insufficient"
This should at least fix the Windows build so that we're not going backwards.

[2019-06-30 08:22] sushain97 opened #51 "Wrap deformatters/formatters"

[2019-06-30 09:08] sushain97 opened #52 "Optimize wrappers"
While our wrappers avoid the extra process overhead, I think they can still be improved.

e.g. we only need to run https://github.com/apertium/lttoolbox/blob/master/python/lttoolbox.i#L23-L24 one time for any given `Analyzer` object

On another note, we should also try to do something smarter instead of re-opening files everywhere (but this might be harder to get working).

@unhammer, is doing the

[2019-06-30 09:09] sushain97 commented on #48
Indeed. We should do some sort of an audit of existing pairs/modules to figure out what else we should support.

[2019-06-30 15:00] ftyers commented on #48
@sushain97 a command like this should work, although I don't have all the pairs checked out at the moment:

[code]

[2019-06-30 18:10] Vaydheesh commented on #40
I have wrapped `apertium-pretransfer`. Facing some errors in wrapping the `apertium-tagger`. The errors are related to the private members/inheritance of the class

[2019-06-30 18:56] sushain97 commented on #40
Feel free to make some things public if necessary, especially if it simplifies your work.

[2019-07-01 07:51] unhammer commented on #52
Yeah, opening the fst is quite slow - just try echoing some line a hundred times into lt-proc in the shell vs all in one go (for some megabytes-large fst)

[2019-07-02 08:07] xavivars commented on #52
That was actually the reason why null-flush was such a huge improvement compared to the previous approaches when building web APIs on top of apertium: only loading the dictionaries once can save tens or hundreds of milliseconds each translation

[2019-07-02 08:18] sushain97 commented on #52
Sounds good. After @Vaydheesh wraps all the stuff in the path of a translation (#49), we'll circle back to this and #50. It might be possible to even transition away from null-flush in APy after this works?

[2019-07-02 19:24] Vaydheesh commented on #40
I was able to solve the wrapping issue by explicitly specifying the namespace. Unlike other files apertium-tagger has a different approach. argc & argv are directly passed onto the constructor https://github.com/apertium/apertium/blob/master/apertium/apertium_tagger.cc#L62. Instead of passing `FILE *` all the i/o operations are done directly by stdin stdout https://github.com/apertium/apertium/blo

[2019-07-02 21:53] sushain97 commented on #40
Hmm. You could redirect stdin/stdout to a pipe (https://stackoverflow.com/questions/5062895/how-to-use-a-string-as-stdin). Or, it looks like you could add extra arguments (https://github.com/apertium/apertium/blob/master/apertium/apertium_tagger.cc#L685). The first option sounds more performant and a bit less messy if possible. We could even try it with the other wrappers (not sure how possible it

[2019-07-03 10:32] xavivars commented on #52
If APy starts using apertium-python (which I think is the plan) I'd say _probably_.... But not sure if it may have unknown/undesired side effects (a.k.a. bugs), like FST staying in the _wrong_ state after a translation is done. Null-flush was taking care of those things, so maybe the same underlying code can be used by apertium-python, while Apy needs to know nothing about it.

[2019-07-04 09:58] unhammer commented on #52
That's what Pasquale Minervini's old C++ apertium-service http://wiki.apertium.org/wiki/Apertium-service did. But then you lose out on the automatic parallelism that Unix pipelines gives (making you have to basically reimplement `|` and the buffering involved there) and you have to ensure the cli and lib interfaces are always the same (no missing or slightly different options).

--
 Kevin Brubeck

[2019-07-04 19:26] Vaydheesh commented on #40
https://github.com/Vaydheesh/apertium/blob/tagger/apertium/apertium_core.cpp

Output of `echo '^cats/cat<n><pl>$' | ./apertium-core`

[code]

back tracking in gdb prints following output
[code]

While stepping through the program works, `SIGABRT` is generated at end of `main()`
[code]
I have no idea what is causing this unexpected behavior.

[2019-07-04 20:27] Vaydheesh opened #54 "Test for subprocess"
Remove the installed wrappers and test the subprocess fallback

[2019-07-04 23:50] sushain97 commented on #52
Ah, good point. Right now the implementation in `apertium-python` will block at each step of the pipeline.

However, on a relatively loaded server, do we expect much benefit for streaming the output through instead of buffering it? Presumably the other cores could be occupied with another translation rather than streaming the output through each step.

[2019-07-04 23:58] sushain97 commented on #40
Why are you dynamically allocating `argv`? It should work fine if you just use stack memory, no? Also, are you building with debug symbols enabled and optimization off, it might help in terms of debugging.

[2019-07-05 07:03] unhammer commented on #52
Guess we won't know until we try :)

[2019-07-05 09:33] Vaydheesh commented on #40
`echo '^cats/cat<n><pl>$' | ./apertium-tagger -g /usr/share/apertium/apertium-eng-spa/eng-spa.prob`
I have updated the file to pass the args to the constructor, yet the same issue persists
Yes debugging is enabled `-g` and no optimization flag is used while building the objects `-O`

[2019-07-05 16:04] sushain97 commented on #40
I meant enabling debug symbols during the compilation process, e.g. `gcc -g`. That might make the stacktrace easier to understand. Also, have you tried using `valgrind`?

[2019-07-06 14:56] Vaydheesh commented on #40
`valgrind` helped in fixing the issue.

It is possible to read write on stdin, but I can't find the same for stdout. Any idea for implementing this?
[code]

[2019-07-06 15:08] sushain97 commented on #40
Awesome! What was it?

https://stackoverflow.com/questions/1218933/can-i-redirect-the-stdout-in-python-into-some-sort-of-string-buffer

Note that we might be able to also use this approach for running the other wrappers.

[2019-07-06 18:36] Vaydheesh commented on #40
https://gist.github.com/Vaydheesh/3f044195660fe6f0d08ea896ebd5b2a4
MVP isn't working at all.
- Upon executing `wrapper_test.py`, python is expecting input from user, which shouldn't be happening.
- Instead of [passing the text provided](https://gist.github.com/Vaydheesh/3f044195660fe6f0d08ea896ebd5b2a4#file-wrapper_test-py-L9 ), its passing user's input to the wrapper
- for stdout, wrapper directl

[2019-07-06 21:17] sushain97 commented on #40
Hmm, how about https://stackoverflow.com/questions/31949576/python-stdout-c-and-swig or https://stackoverflow.com/questions/5425852/redirection-of-stdout-from-a-swig-wrapped-c-class-to-a-non-file-python-object ?

[2019-07-06 21:25] #43 closed

[2019-07-06 21:25] sushain97 commented on #50
We should also fallback if we don't support the specified flags/combination of them.

[2019-07-06 21:26] sushain97 commented on #54
Ideally, we would uninstall the wrappers from within the Python tests themselves. Then, the lines tested would be included in the coverage figures.

[2019-07-06 21:26] sushain97 commented on #49
@Vaydheesh can you check off what you've finished here?

[2019-07-07 19:33] Vaydheesh commented on #40
The given example is using `PyFile_AsFile` which isn't available on python3.x

I've added `FILE *` to `g_FILE_Tagger` and it is working fine for `apertium-tagger`. But things are breaking with the wrapper. I am trying to resolve this using gdb and valgrind. Also, I needed to initialize the derived class with base class constructor, hence I've moved https://github.com/apertium/apertium/blob/master/

[2019-07-08 02:23] sushain97 commented on #40
Ah, okay.

Shouldn't you have provided extra arguments so that `g_FILE_Tagger` doesn't use `stdin`/`stdout` and runs https://github.com/apertium/apertium/blob/master/apertium/apertium_tagger.cc#L690-L692 instead? I agree that the constructor shouldn't really be doing the work as well since that would prevent something like https://github.com/apertium/apertium-python/issues/52 from being possible.

[2019-07-08 02:24] sushain97 commented on #40
I mentioned the extra argument approach earlier. Wouldn't that make editing the C++ itself unnecessary?

[2019-07-08 04:23] Vaydheesh commented on #40
RN I've implemented this `void g_FILE_Tagger(Apertium::FILE_Tagger &FILE_Tagger_, FILE *input, FILE *output);`
And the command in mode file is `apertium-tagger -g /usr/share/apertium/apertium-eng-spa/eng-spa.prob`.
Should I simply modify this to `apertium-tagger -g /usr/share/apertium/apertium-eng-spa/eng-spa.prob in.txt out.txt`

[2019-07-08 04:28] sushain97 commented on #40
Simply changing the command was my initial suggestion since it is a simple solution that doesn't require changing any of the C++. The code will probably require changes for optimization anyway so I'm not super concerned with a simple approach for now, especially if you're running into issues with the other method.

[2019-07-09 18:46] Vaydheesh commented on #40
I have wrapped `apertium_tagger`, passing the arguments to constructor from python took some time.
I have created a class `apertium_tag`, inheriting from `apertium_tagger` and passes the required arguments to base class. The output is generated when I call the class first time, but usage is printed on successive calls. I need to close the interpreter to call the class one more time. I've tried del

[2019-07-09 20:51] sushain97 commented on #40
Are you saying that if you do `obj2 = apertium_core.apertium_tag(len(command), command)`, `output_file.read()` has the help message now? If `apertium_tag` creates a new `apertium_tagger` object each time, I'm not sure I see why that would happen. Also, why do we need an extra class?

On another note, according to Tino `apt-get install python3-lttoolbox` should install the wrapper right now. Howeve

[2019-07-10 02:25] Vaydheesh commented on #40
Yes

This is just for testing, I'll merge it in `apertium`, if everything works fine. I've also tried calling the object directly from wrapper via a function, yet it doesn't work(second time).
[code]

I'll look into it. Also how can I get the `.deb` file for `python3-lttoolbox`

[2019-07-10 02:31] sushain97 commented on #40
Have you tried debugging this in gdb? It should make it clear why the second call follows a different code path.

I'm guessing it's on the same website that Tino hosts the windows binaries, etc. on. However, I'm sure he has a more definitive answer. Presumably there's also a way to get `apt` to give you the `.deb` file itself? Try googling for that.

[2019-07-10 03:20] Vaydheesh commented on #40
I was able to replicate this in c++ file, this should help in using gdb

[2019-07-10 07:21] TinoDidriksen commented on #40
- https://apertium.projectjj.com/apt/nightly/pool/main/l/lttoolbox/
- https://apertium.projectjj.com/apt/nightly/pool/main/a/apertium/
- https://apertium.projectjj.com/apt/nightly/pool/main/a/apertium-lex-tools/

[2019-07-10 19:00] Vaydheesh commented on #40
- The error was caused due to optind. Assigning it a default value in constructor fixed the issue.
- Should I call apertium-tagger from apertium_core.apertium, i.e. `apertium_core.apertium(len(command), command)`. This would require use of initializer list in `apertium` constructor. While all other processes have their own function, apertium-tagger would be called during object creation. Is this a

[2019-07-10 19:48] sushain97 commented on #40
It looks like `apt` should be installing to `dist-packages` by convention, not `site-packages` per https://stackoverflow.com/questions/9387928/whats-the-difference-between-dist-packages-and-site-packages. @TinoDidriksen, is this a simple fix on your end?

Huh, okay.

I'm not really sure what you're referring to. For now, something like `apertium_core.apertium_tagger(len(command), command)` is fine

[2019-07-11 08:54] Vaydheesh commented on #40
The build is failing on `swig 3.x` which is latest package available on ubuntu, https://travis-ci.com/apertium/apertium-python/jobs/215048726#L2327, due to prototype in `tagger.h`. I am using SWIG Version 4.0.0, which compiles everything successfully. I tried building swig on ubuntu using tarball release and github release as well, but there are some errors that need to be resolved. I don't know h

[2019-07-11 08:58] TinoDidriksen commented on #40
It must be compatible with SWIG 3.0.8, since that's the oldest version in supported Ubuntu/Debian distros.

[2019-07-11 09:17] Vaydheesh commented on #40
I am using Arch, with SWIG 4.0.0 and swig compiles the wrapper successfully. On ubuntu VM, 18.04, SWIG Version 3.0.12, which was installed using apt-get, I am getting the same syntax error

[2019-07-11 16:42] sushain97 commented on #40
Well, we need to get it working with SWIG v3. Is this the line causing issues?

    void flagOptionCase(bool (basic_Tagger::Flags::*GetFlag)() const,

If so, I have the following suggestions (in no particular order)

- research online whether the `const` is an issue (or maybe the `basic_Tagger::Flags::*GetFlag`)?
- try removing/adding stuff to figure out which part of that line is causing the issu

[2019-07-11 17:03] Vaydheesh commented on #40
The updated `python3-lttoolbox` installs everything to `dist-packages`, and import is working on my ubuntu, but travis' `sys.path` doesn't respect the ubuntu convention. Instead
- for python3.5, its value is
[code]
- for python3.6:
[code]

https://travis-ci.com/apertium/apertium-python/builds/118813620 buillding swig 4.0.0 from sources fix this. As ubuntu's package doesn't provide v4.0, https://pa

[2019-07-11 17:18] sushain97 commented on #40
Hmm. Does the travis installation even have a `dist-packages` folder?

Does `import distutils.sysconfig; get_python_lib()` print out something good on Travis? It does on Ubuntu. Maybe @TinoDidriksen could switch to that instead?

No, that's not really an option. We don't want our users building anything.

[2019-07-11 17:37] Vaydheesh commented on #40
`python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())"` prints:
`/home/travis/virtualenv/python3.7.1/lib/python3.7/site-packages`

Why do the users need to build? What I meant was just like we are using `build-swig-wrapper.sh`	 to build wrapper on travis, can we do the same for swig https://github.com/apertium/apertium-python/blob/swig_wrapper_tagger/.travis.yml#L21.

[2019-07-11 17:43] sushain97 commented on #40
That sounds like it would work then? @TinoDidriksen is this something you could install to? I tried to find where you switched from `site-packages` to `dist-packages` but it seems to not be in the `apertium-packaging` repo.

Hmm, I suppose it doesn't matter what version of SWIG is used to build the binaries as long as the binaries themselves work with older versions of Ubuntu/Debian. @TinoDidrikse

[2019-07-11 19:37] TinoDidriksen commented on #40
I will not make Travis workarounds. Surely a `PYTHONPATH` or equivalent can correct Travis' wrong behavior?

The `dist-packages` fix is not committed, because it doesn't work for `apertium` yet.

Users don't need to build, but I need to build, using only the packages that the target distro provides. Currently all supported distros provide SWIG 3.0. We cannot have custom build dependencies that we

[2019-07-11 19:43] sushain97 commented on #40
I don't think Travis' behavior is incorrect. I don't think that the set of paths that a Python installation uses is particularly well defined. By using something like `from distutils.sysconfig import get_python_lib; get_python_lib()`, the installation can put files wherever the local Python installation wants them to go.

On Ubuntu 18.04 with Python 3.6 installed via `apt`, that command gives the

[2019-07-12 06:46] sushain97 commented on #50
@Vaydheesh why is the Windows build still not working? You mentioned something about `lrx-proc` but I didn't really catch it.

[2019-07-12 06:49] sushain97 commented on #32
@Vaydheesh is this still a problem? I assume not. If not, can you close the issue.

[2019-07-12 06:51] sushain97 commented on #13
@Vaydheesh this should be an easy one if you're looking for something to do. In addition to adding it, it should be verified that importing `apertium` actually picks up the types.

[2019-07-12 06:59] Vaydheesh commented on #40
Removing `const`, fixes this, `flagOptionCase(bool (basic_Tagger::Flags::*GetFlag)(), ...`

`this` pointer is const qualified in above situation https://stackoverflow.com/questions/15999123/const-before-parameter-vs-const-after-function-name-c/15999152#15999152. Is there any other way to make it const?

The only release version after 3.0.12 is 4.0.0, this might be the reason for swig 4.0 supportin

[2019-07-12 07:09] sushain97 commented on #40
Ah, that makes sense. Given that Tino wants to stick with swig 3.x (which makes sense), I don't see a solution here aside from removing the `const` qualifier and adding a comment that explains why.

[2019-07-12 07:13] Vaydheesh commented on #40
This might also require modifying [basic_tagger.h], (https://github.com/apertium/apertium/blob/master/apertium/basic_tagger.h) https://github.com/apertium/apertium/blob/master/apertium/apertium_tagger.cc#L81-L106

[2019-07-12 07:15] Vaydheesh commented on #13
Can I work on this after wrapping `apertium-destxt` and `cg-proc`

[2019-07-12 07:16] sushain97 commented on #40
Very well. Let's see how large the changes are before we bother anyone more versed in C++. If they're relatively small, I don't see a huge problem. `const` qualifiers are really just a nice-to-have anyway. It's not like there aren't a million other ways to shoot yourself in the foot in C/C++.

[2019-07-12 07:16] sushain97 commented on #13
Yeah, sure! `cg-proc` should be really easy since `hfst` already has Python wrappers.

[2019-07-12 07:26] Vaydheesh commented on #50
https://ci.appveyor.com/project/sushain97/apertium-python/builds/25755769/job/sx0oreu75t67vq9l#L210
`lrx-proc -m` seems to be expecting input from `stdin` on windows. I tried building `lrx-proc` on windows itself, and the last working commit was https://github.com/apertium/apertium-lex-tools/commit/4165215069a708a6a2182a3d9c9a3c3defed6dd1

Should I log messages when calling processes upon falling

[2019-07-12 07:34] sushain97 commented on #50
Ah. This was working before, right?

As in, it doesn't build after this commit or it hangs only after this commit?

I'm not sure what you would log but go ahead and try? You can also run it locally, yes? If not: https://www.appveyor.com/docs/how-to/rdp-to-build-worker/.

[2019-07-12 07:39] Vaydheesh commented on #50
I want to log the calling of each subprocess if python wrappers aren't available, like https://ci.appveyor.com/project/sushain97/apertium-python/builds/25755769/job/sx0oreu75t67vq9l#L210, RN its only showing `test_en_spa (tests.TestTranslate) ... ` https://ci.appveyor.com/project/sushain97/apertium-python/branch/master/job/9of59fyjciehgltr#L195
This might come handy if something fails during futur

[2019-07-12 19:12] sushain97 commented on #50
Sure, feel free to log at debug level. Can you talk to @unhammer about what might be wrong now? It seems like an error unrelated to swig entirely (you can confirm this on Windows?).

[2019-07-12 19:18] Vaydheesh commented on #50
I'll re-compile this(just to be sure) and then discuss this tomorrow

[2019-07-13 10:36] Vaydheesh commented on #50
Can we remove -m flag, when calling `lrx-proc` during subprocess implementation. This should pass the test case in appveyor, until a fix is pushed on `apertium-lex-tools`

[2019-07-13 17:17] sushain97 commented on #50
Uhh, I'm opposed to arbitrarily removing flags with semantic value. Presumably removing the `-m` flag will change how a pair actually behaves and therefore is not OK.

[2019-07-13 18:26] sushain97 opened #55 "Automatic installation of apt deps on Ubuntu setup.py"

[2019-07-14 06:05] xavivars commented on #50
There were discussions on actually removing the mode without `-m`, so default acted the same way. We probably should wrap up that conversation

[2019-07-14 16:21] PirateKing19902016 commented on #40
I am wrapping `apertium-destxt`source: https://github.com/apertium/apertium-python/issues/40#issuecomment-502536726
Since the source file is generated using xlst & flex, and `apertium_destxt.cc` contains `main()`, IMO it shouldn't be linked with shared library. There are two approaches that I can think of
1. split the `desformat.xsl`, to separate `main()`
2. remove `main()` from `apertium_destxt.c

[2019-07-14 16:31] Vaydheesh commented on #40
I am wrapping `apertium-destxt` source files: https://github.com/apertium/apertium-python/issues/40#issuecomment-502536726
Since the source file is generated using xlst & flex, and `apertium_destxt.cc` contains `main()`, IMO it shouldn't be linked with shared library. There are two approaches that I can think of

1. split the desformat.xsl, to separate `main()`
2. remove `main()` from apertium_des

[2019-07-14 17:34] sushain97 commented on #40
If this is possible, I'd prefer it. Let's not use `sed` to parse C++ as much as possible.

[2019-07-14 17:46] sushain97 commented on #50
@xavivars makes sense. That being said, we can't just willy nilly remove the `-m` from the mode pipe, yes?

[2019-07-15 07:01] Vaydheesh commented on #40
- Is it possible to maintain multiple pip packages according to python version, and target OS i.e support for Python 3.5-8, 32 & 64 bit and linux & windows.
- Also do I need to build packages for windows as well, the current method isn't really a good implementation.

[2019-07-15 07:44] sushain97 commented on #40
We need full Windows support, yes. At first, at least a version that works with the subprocess and apertium getting installed at `pip` install time.

You wouldn't maintain multiple packages for each Python version. You can do arbitrary things at installation time though, e.g. downloading the shared library, etc. Maybe look into how other Python packages handle this sort of thing (numpy?).

[2019-07-15 08:03] Vaydheesh commented on #40
`installer.py` installs `apertium-all-dev` and the two language packages used in example. Apart from publishing the package on pypi, what are the changes required

[2019-07-15 17:10] sushain97 commented on #40
For one: https://github.com/apertium/apertium-python/issues/39. There might be others in the issue tracker. Also, do we support CG-based pairs like kaz-tat? We should but worth checking (maybe a new test?).

Also, it doesn't seem to work right now on Travis due to `lrx-proc`? That's a pretty significant issue :) Maybe chat with unhammer on IRC?

Just a note -- please don't block on me replying to

[2019-07-15 17:24] Vaydheesh commented on #40
Earlier I was trying to fix the native build process for windows, but faced dll compatibility issue probably different versions. So now I am figuring out mxe to build the packages

I did report this issue on IRC, and Tino took notice of it, and `spectie` suggested trying without `-m` flag. As that part wasn't modified in the commit, it is working flawlessly, but removing flags would have changed i

[2019-07-15 17:30] sushain97 commented on #40
I think from that conversation it looks like there's nothing wrong (at least that's how I read it earlier). Maybe open up a GH issue in the relevant repo (unless one is already open?). We should probably just switch to testing with a pair that doesn't use `-m` in that case. I'm also a bit confused with why it works on Linux but not Windows?

[2019-07-15 17:42] Vaydheesh commented on #40
On it.

Can you suggest such a language pair.

I didn't look into it, maybe some cross compilation issue. Even I had used mingw for building and I don't use visual  studio, so I didn't try compiling it with `msvc`

[2019-07-15 17:43] sushain97 commented on #40
Don't really know but try a couple and you should be able to find one.

https://apertium.github.io/apertium-on-github/source-browser.html

[2019-07-15 17:45] Vaydheesh commented on #40
https://github.com/apertium/apertium-lex-tools/issues/24 Should I post the bug here or create a new issue?

[2019-07-15 17:47] sushain97 commented on #40
What? That issue seems completely unrelated. It's about making no args behave like `-m`, not about `-m` hanging on Windows.

[2019-07-15 17:49] Vaydheesh commented on #40
https://github.com/apertium/apertium-en-pt/blob/master/modes.xml, this doesn't use `lrx-proc` can we use this?

[2019-07-15 17:51] sushain97 commented on #40
Then we're not testing that we support `lrx-proc` at all so not a good idea IMO :)

[2019-07-15 17:56] Vaydheesh commented on #40
https://github.com/apertium/apertium-eng-hin/blob/master/modes.xml#L74
This one is using `-t` flag

[2019-07-15 18:06] sushain97 commented on #40
That's a debug flag, right? We can probably just ignore it in our wrapper. Please check though.

[2019-07-15 18:13] Vaydheesh commented on #40
yes

`-t` and other flags can be added easily, just need to add switch cases. Parsing multiple arguments might take some time(not sure about `getopts` compatibility with swig). Should I just update the wrapper with all the flags available in `lrx-proc`?

[2019-07-15 18:18] sushain97 commented on #40
Sure, if it's easy. Otherwise, don't worry about it.

[2019-07-15 18:55] ftyers commented on #40
Don't worry about `-t` it isn't widely used, it means "transliterate".

[2019-07-16 18:25] Vaydheesh commented on #40
- Is it possible to set custom path for compiler in `setup.py`. I've tried `python setup.py build --compiler=mingw32` https://stackoverflow.com/questions/33331563/force-compiler-when-running-python-setup-py-install/33373672#33373672, which appends `-mdll` to the command execute, and it results in `gcc: error: unrecognized command line option ‘-mdll’`
- Is hfst wrapper available on windows? Its not

[2019-07-17 09:33] TinoDidriksen commented on #40
No, HFST's wrapper isn't on Windows yet. I haven't yet set up Windows builds for any Python parts.

[2019-07-17 14:39] sushain97 commented on #40
Why would that append `-mdll`? Do you have it specified somewhere else?

No, `Pipfile` is for developers or source installations. It has nothing to do with users or `setup.py`.

[2019-07-18 03:24] sushain97 commented on #40
@Vaydheesh how's it going?

[2019-07-18 04:32] Vaydheesh commented on #40
- No. I have tried but can't find a good implementation for generating wrappers for windows.

This is what I have in mind for the installation of packages https://github.com/apertium/apertium-python/blob/swig_wrapper_tagger/apertium/installer.py#L130
- Since the `installer.py` file is in `apertium`, which imports `distro` & `apertium-streamparser`, that aren't available before https://github.com/a

[2019-07-18 17:04] #32 closed

[2019-07-18 19:19] sushain97 commented on #40
Uhh, I don't really like introducing this dependency. Is there a simpler way? It's fine if it's not as accurate since we don't really support many distros anyway.

You manually modified `Pipfile.lock`?

Whatever is supported here: http://wiki.apertium.org/wiki/Install_Apertium_core_using_packaging

Yeah that sounds OK to me.

[2019-07-18 19:38] Vaydheesh commented on #40
No, the changes were updated by the IDE. I'll revert back to previous state, since `distro` isn't required

reading `/etc/os-release` would give us name of the distro

- I have tested the compatibility of `getopts` with swig. Should I update the wrappers for supporting multiple arguments?

[2019-07-18 19:41] Vaydheesh commented on #13
https://github.com/apertium/apertium-python/commit/bbe91ccd207ea20c39d74e1d63b755907228893b
How can I verify that py.typed is actually working?

[2019-07-18 19:43] sushain97 commented on #13
Try using the installed package in a normal Python file and see if mypy
picks up the types. There are ways to get mypy to reveal a type. You can
also intentionally create a type error and see what the return type is that
way (or bad argument type).

On Thu, Jul 18, 2019, 2:41 PM Lokendra Singh <notifications@github.com>
wrote:

[2019-07-18 19:44] sushain97 commented on #40
I don't think supporting multiple arguments is a priority :) Good to know
that it's possible though and it gives you something to work on if you're
stuck with something else and/or waiting for feedback.

On Thu, Jul 18, 2019, 2:38 PM Lokendra Singh <notifications@github.com>
wrote:

[2019-07-18 19:51] Vaydheesh commented on #40
I have come to a dead end for building wrapper on windows, so I am working on various `open issues` and implementations that were side tracked during the wrapping process

[2019-07-19 04:22] sushain97 commented on #40
Hmm, okay. There are some open issues that are considered more/less important. Getting the optimization issues done is a prerequisite for some folks considering this project complete and getting the Windows stuff working flawlessly is the goal for others.

Regardless, can you assign whichever issues you're working on to yourself?

Also, is there a PR ready wrt the installation of packages?

[2019-07-19 07:10] Vaydheesh commented on #40
If this is a priority I can get in touch with Tino to get build the wrappers for windows

I'll create a PR with the changes

[2019-07-19 07:15] Vaydheesh commented on #55
will `apt-get install python3-lttoolbox` install its dependencies?

[2019-07-19 07:20] Vaydheesh commented on #24
Are there still type: ignore left that need to be removed?

[2019-07-19 17:22] sushain97 commented on #18
No, not really. That would be circular. It's just to show some basic
information about what's available.

On Fri, Jul 19, 2019, 2:26 AM Lokendra Singh <notifications@github.com>
wrote:

[2019-07-19 17:23] sushain97 commented on #24
You can search the repo on GitHub or use grep to determine if there any
left.

On Fri, Jul 19, 2019, 2:20 AM Lokendra Singh <notifications@github.com>
wrote:

[2019-07-19 17:24] sushain97 commented on #55
Absolutely. Otherwise a package manager would be pretty useless. However, if the running Python doesn't match the distro Python, it won't work.

[2019-07-19 17:25] sushain97 commented on #40
Yes, Windows is the only thing that matters to e.g. @ftyers.

[2019-07-19 18:38] Vaydheesh commented on #55
Can you add a description for this issue

[2019-07-19 18:48] Vaydheesh commented on #40
I'll ask for help on IRC, maybe Tino have can help in figuring out the build process for windows

[2019-07-19 18:51] Vaydheesh commented on #24
https://github.com/apertium/apertium-python/blob/master/apertium/translation/__init__.py

[2019-07-19 18:52] Vaydheesh commented on #18
Can you elaborate about what needs to be printed

[2019-07-19 22:09] sushain97 commented on #18
Something similar to what gets printed on apertium -l. Just the installed modes is good enough. Nothing fancy.

[2019-07-20 04:49] sushain97 commented on #55
This issue is basically the `apt-get install python3-lttoolbox` stuff. Basically, `setup.py install`/`pip install` should install all the necessary deps.

[2019-07-20 15:16] Vaydheesh commented on #54
Do we need something like `apertium.uninstall_module('en-es')` https://github.com/apertium/apertium-python/issues/39

[2019-07-20 15:18] sushain97 commented on #54
Eh, I don't really care about uninstalling language data. It's more for the wrappers so that the imports don't succeed. Another approach, probably easier, is just mocking the imports and making them fail.

[2019-07-22 14:13] Vaydheesh commented on #40
Finally figured out a good enough patch for building the wrappers. (surely took its share of time : )
- The process is for building wrappers on windows itself, and can build only for python x64, since I am using nuwen mingw, https://nuwen.net/mingw.html
- It also requires `iconv` & `libxml2` port for windows x64
- The patch file for setup.py is  https://pastebin.com/hyX23FKM
- `python setup.py bui

[2019-07-22 17:41] Vaydheesh commented on #40
- I have tried languages from http://wiki.apertium.org/wiki/Main_Page which support bidirectional translation with english, but apart from English ⇆ Spanish, none of them use `lrx-proc`
- After manually traversing through the code base `eng-ita` pair uses `lrx-proc` without any args

- So I installed the package and tested in apertium-python `apertium.translate('eng', 'ita', 'cats')`, the but subp

[2019-07-23 05:26] sushain97 commented on #40
@unhammer / @TinoDidriksen ^ any ideas here? @Vaydheesh is this only on Windows?

Awesome!

For now I'm fine with supporting only 64 bit Windows. We can open another issue for 32 (does appveyor even test it?).

[2019-07-23 07:14] Vaydheesh commented on #40
yes.

The `-mdll` flag is for `mingw-gcc` so it should be possible to cross compile, but I haven't tried the wrapper building on linux

As I've build the wrapper for `lttoolbox` only, I haven't tried this with appveyor. I'll build the other two and then test them with appveyor

[2019-07-23 11:03] unhammer commented on #40
`'std::bad_alloc' what()` is typical for not-completely compiled things or called with wrong switches (e.g. tagger missing an `-x` or an `-x` too many) or wrong arguments or unescaped inputs. Do the exact same commands work in the shell? (Also, eng-ita – is that a stable pair?)

[2019-07-23 11:11] Vaydheesh commented on #40
The above output is of shell.

Its in incubator stage, https://github.com/apertium/apertium-eng-ita

[2019-07-23 11:28] unhammer commented on #40
nno-nob is in trunk and uses lrx-proc, there's a few test sentences if you type `make test`

[2019-07-23 14:03] Vaydheesh commented on #40
`nno-nob` uses `lrx-proc -m` https://github.com/apertium/apertium-nno-nob/blob/master/modes.xml#L19
which is hanging on `appveyor`  https://ci.appveyor.com/project/apertium/apertium-python/builds/26173274/job/x48ne526dqkwu530#L221
I have reported the bug, https://github.com/apertium/apertium-lex-tools/issues/25, and wanted to switch over to a pair that doesn't use `lrx-proc -m` to ensure tests are

[2019-07-23 17:56] unhammer commented on #40
Oh, but the mode without -m doesn't work at all, it's deprecated and it's a bug if a pair uses it. Is this a bug with lrx-proc on whatever system appveyor runs on then? I don't think running the thing without -m is worth spending time on, since that's going away

Den Tys 23 jul 2019, klokka 16:03, skreiv Lokendra Singh:

[2019-07-23 18:49] Vaydheesh commented on #40
umm... its a bug on windows. Don't know why its working on linux but not on windows. I've reproduced it on Windows 10.

@sushain97: can we wait till `-m` is dropped?

[2019-07-23 18:50] sushain97 commented on #40
Sure but from what I understand, we'll still be hitting the same bug. Regardless, let's move on.

[2019-07-24 15:54] sushain97 commented on #40
Have you looked at the PR re. wrapper optimization? If Windows is stalled, I think that one is pretty important.

[2019-07-24 18:20] Vaydheesh commented on #40
Are you talking about? https://github.com/apertium/apertium-python/issues/52 I'll work on it after building the wrappers for windows. Using the wrappers should fix the `lrx-proc -m` issue

I am working on the windows wrappers. I've wrapped apertium-lex-tools, since it depends on `lttoolbox` https://github.com/apertium/apertium-lex-tools/blob/master/python/setup.py.in#L41, I have to create a dll fi

[2019-07-24 21:53] sushain97 commented on #40
Yep. #52. Sounds good

Ideally, they would go wherever the Python packages go in a Windows installation. You can probably convince Python to tell you that? We don't need to mess with paths here since we control the entire install process and can just put stuff where it'll already go, no?

[2019-07-25 05:14] Vaydheesh commented on #40
- Can we keep the wrappers in `site-packages` retrieved from `sys.path`.
- This is how it looks on my system `C:\Users\admin\AppData\Roaming\Python\Python37\site-packages, C:\Python37\lib\site-packages`
- Since my python path is `C:\Python37` it can be modified without UAC, but if python is installed at `Program Files`, it might require UAC Privileges. IMO it would be better to copy the packages t

[2019-07-25 05:16] sushain97 commented on #40
How about we make it simple and go with whatever the first entry in `sys.path` is?

[2019-07-25 05:19] Vaydheesh commented on #40
`['', 'C:\\Python37\\python37.zip', 'C:\\Python37\\DLLs', 'C:\\Python37\\lib', 'C:\\Python37', 'C:\\Users\\admin\\AppData\\Roaming\\Python\\Python37\\site-packages', 'C:\\Users\\admin\\AppData\\Roaming\\Python\\Python37\\site-packages\\apertium_python-0.0.0-py3.7.egg', 'C:\\Users\\admin\\AppData\\Roaming\\Python\\Python37\\site-packages\\apertium_streamparser-5.0.2-py3.7.egg', 'C:\\Python37\\lib\\

[2019-07-25 05:58] sushain97 commented on #40
Isn't there another command/incantation that I suggested Tino use for picking where to put the linux packages? Maybe you could use that to get a smaller list?

[2019-07-25 06:58] Vaydheesh commented on #40
I might have missed that message. Can you send link or the irc log

[2019-07-25 07:13] sushain97 commented on #40
I'm referring to https://github.com/apertium/apertium-python/issues/40#issuecomment-510575560. Also more approaches at https://stackoverflow.com/questions/122327/how-do-i-find-the-location-of-my-python-site-packages-directory.

[2019-07-25 16:52] Vaydheesh commented on #40
1.  `python -c "import site; print(site.getsitepackages())"`,
    - output is `['C:\\Python37', 'C:\\Python37\\lib\\site-packages']`
    - But if the installation path is `Program Files` then elevated privileges would be required to write at installation directory.
    - output in virtual env `['C:\\Users\\admin\\Desktop\\New folder\\.venv', 'C:\\Users\\admin\\Desktop\\New folder\\.venv\\lib\\site

[2019-07-26 03:08] sushain97 commented on #40
:+1:

Super weird that all of them give different answers... I'm leaning towards going with the 3rd one.

[2019-07-26 04:37] Vaydheesh commented on #40
- Reverting these changes https://github.com/apertium/apertium-lex-tools/commit/2a77a50ba2eb601ea7ab98b85de171a4974b019a while building wrapper fixes, the `lrx-proc -m` issue. Should I make these changes while building wrappers. RN, I have to make some changes in the sources to build the wrappers, I'am working on the wrapper build without these changes / minimize the changes.
- `analyzer` unittest

[2019-07-26 04:41] sushain97 commented on #40
I'm not really sure what you're saying/asking here. If you send a PR with the changes you make I suppose I could take a look?

There should be a way in Windows to figure out who is accessing which files. Maybe try using that to figure out who it is that is accessing the temp file and preventing its deletion.

[2019-07-26 04:51] Vaydheesh commented on #40
If an `OsError` is raised should I write the files to `site.getusersitepackages()`

- Simpy building https://github.com/apertium/apertium-lex-tools is bound to have https://github.com/apertium/apertium-lex-tools/issues/25 even with the wrappers.
- If I remove this https://github.com/apertium/apertium-lex-tools/commit/2a77a50ba2eb601ea7ab98b85de171a4974b019a, then the above issue is fixed.
- Should

[2019-07-26 04:52] sushain97 commented on #40
Nah. Let's not worry about it unless someone complains.

No, let's not do this. We're not going to hack around a bug in `lex-tools`.

[2019-07-26 06:51] Vaydheesh commented on #40
`tempfile` is causing this behavior.
[code]
I have tested this on another machine, and same error is reported. I've read the docs but can't find something related to this. Any thoughts?

[2019-07-26 22:33] sushain97 commented on #40
I think the problem there is that you haven't closed it?

[2019-07-27 01:42] Vaydheesh commented on #40
How can I close a buffer that isn't open yet
[code]
Even this reports the `WinError 32`, but `delete=True` works
[code]

[2019-07-27 02:40] sushain97 commented on #40
`tempfile.NamedTemporaryFile(delete=False)` returns an open file handle.

[code]

[2019-07-27 03:33] Vaydheesh commented on #40
That's strange. Why does `delete=True` doesn't open the file handle, but `delete=False` returns an open handle

Should I close the tempfile after creating it https://github.com/apertium/apertium-python/blob/master/apertium/utils.py#L50

[2019-07-27 06:46] sushain97 commented on #40
AFAIK, both return an open handle and yes you should probably close them (at some point).

[2019-07-28 13:21] Vaydheesh commented on #40
- There are two major changes that I'm unable to resolve
   - https://github.com/Vaydheesh/apertium/commit/564f4d8993bcdd5c99a6a9171daf3bed8d4e2fba
For some reasons, `apertium/utf8/utf8_fwrap.h` isn't defining the macros from https://github.com/Vaydheesh/apertium/blob/windows/apertium/unlocked_cstdio.h. The `utf8_fwrap` from lttoolbox is working properly
    - including `windows.h` is causing mult

[2019-07-28 16:58] Vaydheesh commented on #40
[code]
The dictionary needs to be loaded while creating an instance, right?

[2019-07-28 17:11] sushain97 commented on #40
Anything expensive should happen a single time on instantiation, yes.

Haven't looked into this very closely but if this diff fixes it, that's fine with me.

:+1:

We shouldn't be building anything on a Windows user's machine.

[2019-07-28 18:34] #13 closed

[2019-07-28 18:35] #14 closed

[2019-07-28 18:35] sushain97 commented on #39
Still missing tests I think?

[2019-07-28 18:41] Vaydheesh commented on #39
Unittests for wrapper?

[2019-07-28 18:41] sushain97 commented on #39
For installation.

[2019-07-28 18:43] Vaydheesh commented on #39
Tests for installation of language packages?

[2019-07-28 18:44] sushain97 commented on #39
Yes.

[2019-07-29 18:07] Vaydheesh commented on #40
- Separate wrappers are required depending upon the python version, `ImportError: Module use of python37.dll conflicts with this version of Python.`
- I've built the wrappers https://github.com/Vaydheesh/wrappers/tree/py35-64, and the `appveyor` installation https://github.com/Vaydheesh/apertium-python/blob/windows_build/apertium/installer.py#L99-L116  is working fine https://ci.appveyor.com/proje

[2019-07-29 18:16] sushain97 commented on #40
Why are things timing out?

[2019-07-29 18:21] Vaydheesh commented on #40
to handle the lrx-proc bug

[2019-07-29 18:24] sushain97 commented on #40
eh, I don't really care too much about it. timing out isn't going to give us any better results, right? just skipping the test on Windows is probably good enough.

[2019-07-31 06:08] sushain97 commented on #40
@Vaydheesh How's it going?

[2019-07-31 06:31] Vaydheesh commented on #40
I am working on tests for installation

[2019-07-31 06:52] sushain97 commented on #40
Are you having any trouble with it? Happy to help. The tests shouldn't be anything fancy. There are also other wrapper optimizations that are higher priority.

[2019-07-31 06:58] Vaydheesh commented on #40
How can I test for import statements, for checking the availability of wrappers.

Apart from loading the dictionaries what else can be used for optimization?

[2019-07-31 07:02] sushain97 commented on #40
I'm not sure what you're asking? `importlib.util.find_spec` will let you check if an import exists. You can also just try it and catch the exception.

I think that the other wrappers also have similar optimizations that can be made?

[2019-07-31 07:12] Vaydheesh commented on #40
I was under the assumption that some other changes are also required. I'll create a PR with the changes

[2019-07-31 17:04] Vaydheesh commented on #40
Since the `apertium_core.apertium` class is inheriting from multiple classes https://github.com/apertium/apertium/blob/master/python/apertium_core.i#L11
Should I call the `read` https://github.com/apertium/apertium/blob/master/python/apertium_core.i#L59 & https://github.com/apertium/apertium/blob/master/python/apertium_core.i#L79 for all of the base classes? One more option is to have single inher

[2019-07-31 18:18] sushain97 commented on #40
Multiple classes. We shouldn't be doing all those things if only a subset is required.

[2019-08-01 05:07] Vaydheesh commented on #40
What should I do next?
- Look into `mingw` for building wrapper for 32bit
- tests for subprocess implementation
Apart from the open issues, is there anything else to be implemented?

[2019-08-01 05:09] sushain97 commented on #40
I think most everything is covered by the issues. There are still a number of open ones that could use work? e.g. `hfst` integration for pairs that use cg-conv, cg-proc, etc.

[2019-08-01 05:10] Vaydheesh commented on #50
@sushain97 Should I close this issue if any changes aren't required

[2019-08-01 05:10] sushain97 commented on #50
Is there another issue tracking adding tests for this? If so, go ahead and close this one, yes.

[2019-08-01 05:12] Vaydheesh commented on #50
The subprocess tests are tracked here https://github.com/apertium/apertium-python/issues/54

[2019-08-01 05:12] #50 closed

[2019-08-02 18:00] Vaydheesh commented on #40
I am wrapping the `cg-proc` of `CG3`. Where can I find the input, output and required arguments for calling for testing the wrapper

[2019-08-02 18:34] unhammer commented on #40
`echo '^a/b<t>/c<t>$' | cg-proc foo.rlx.bin` is the typical way

[2019-08-02 18:48] Vaydheesh commented on #40
`echo '^cats/cat<t>/cat<t>$' | cg-proc /usr/share/apertium/apertium-eng/eng.rlx.bin` is generating `^cats/cat<t>$`. Is this correct?

[2019-08-02 18:54] sushain97 commented on #40
Can you check existing mode files and extract real usage from their pipelines?

[2019-08-02 19:14] Vaydheesh commented on #40
I found its usage in tagger, https://github.com/apertium/apertium-eng/blob/master/modes.xml#L20
Output of `echo 'cats' | lt-proc -w '/usr/share/apertium/apertium-eng/eng.automorf.bin' | cg-proc -w '/usr/share/apertium/apertium-eng/eng.rlx.bin'` is `^cats/cat<n><pl>$`, which is the output of `lt-proc -w`. So I am not sure if I am using it properly

[2019-08-03 05:33] unhammer commented on #40
that seems correct @Vaydheesh – cg-proc typically removes readings (it may also add tags and do a whole lot of other things, but removing readings is what it's typically used for in apertium)

[2019-08-07 04:21] sushain97 commented on #40
@Vaydheesh any updates? We're nearing the end of GSoC!

[2019-08-07 04:35] Vaydheesh commented on #40
I am still working on the `cg-proc`. The coding style is different, and Tino has used `cmake`, so its taking some time to wrap my head around the things

[2019-08-07 04:57] sushain97 commented on #40
OK. Let me know if I can help. Have we confirmed that at least the subprocess implementation works?

[2019-08-07 06:24] Vaydheesh commented on #40
:+1:

For `cg-proc`? I've checked the cli implementation, but I don't know where to use the commands present in `eng-tagger.mode` https://github.com/apertium/apertium-eng/blob/master/modes.xml#L20

[2019-08-07 06:34] sushain97 commented on #40
Yeah, I guess we don't directly expose the tagger modes (we can). There should be other places where we use cg stuff in modes we do expose?

[2019-08-07 06:38] Vaydheesh commented on #40
I am not aware of the use case of the different CG3 & HFST processes. Maybe someone with a better insight in apertium can help us out

[2019-08-07 06:40] sushain97 commented on #40
Here you go: https://github.com/apertium/apertium-kaz-tat/blob/master/modes.xml#L8

[2019-08-07 06:41] sushain97 commented on #40
And another: https://github.com/apertium/apertium-fin-udm/blob/master/modes.xml#L7. These can be found just by searching on Github.

[2019-08-11 03:48] Vaydheesh commented on #40
I've completed the wrapper, can you have a look at it https://github.com/Vaydheesh/cg3/blob/swig/python/constraint_grammar.i

- updated `cmake` to find python https://github.com/Vaydheesh/cg3/commit/529f1ee8c0da6b2bb7bfdf246e0f05cb3a244e90#diff-af3b638bc2a3e6c650974192a53c7291R2
- modified `Grammar.hpp` for including in swig wrapper https://github.com/Vaydheesh/cg3/commit/529f1ee8c0da6b2bb7bfdf246

[2019-08-11 10:57] Vaydheesh commented on #40
Should I wrap `cg-conv` & `vislcg3`, both of them are only used in `*disam.mode`, which isn't used in apertium-python
- https://github.com/apertium/apertium-sme-smj/blob/master/modes.xml#L77
- https://github.com/apertium/apertium-sme-sma/blob/master/modes.xml#L54
- https://github.com/apertium/apertium-kaz-tat/blob/master/modes.xml#L76
- https://github.com/apertium/apertium-cat-srd/blob/master/mode

[2019-08-11 17:07] sushain97 commented on #40
Let's punt then.

Can you create a PR and request review from Tino? This is really hard to review otherwise.

[2019-08-11 17:08] sushain97 commented on #52
@Vaydheesh are we done here?

[2019-08-11 17:10] sushain97 commented on #40
Also, can we skip the failing tests on Windows/appveyor and open an issue to deal with them? It's really annoying to tell whether the Windows stuff is still working otherwise.

see https://stackoverflow.com/questions/36377625/how-to-conditionally-skip-a-test-in-python

[2019-08-11 18:15] Vaydheesh commented on #40
`lsx-proc` is present in `apertium-separable` https://github.com/apertium/apertium-separable/blob/master/src/Makefile.am#L8, used in
https://github.com/apertium/apertium-kaz-kir/blob/master/modes.xml#L12. But `apertium-separable` isn't available for windows, not even in `apertium-all-dev`. Should I wrap it?

[2019-08-11 19:07] sushain97 commented on #40
Is this the only instance of its use? If so, I would punt for now but add it to the list in that issue.

[2019-08-11 20:07] Vaydheesh commented on #40
These are the instances of use of lsx-proc

1. seperable test
- https://github.com/apertium/apertium-fin-deu/blob/master/modes.xml#L559
- https://github.com/apertium/apertium-fin-fra/blob/master/modes.xml#L546
- https://github.com/apertium/apertium-krl-olo/blob/master/modes.xml#L559

2. Translation
- https://github.com/apertium/apertium-kaz-kir/blob/master/modes.xml#L12
- https://github.com/aperti

[2019-08-11 22:02] #45 closed

[2019-08-11 22:03] sushain97 opened #60 "Stop ignoring tests on Windows"

[2019-08-11 23:01] sushain97 commented on #40
[code]

`lsx-proc` does get installed with `apertium-all-dev`.

[2019-08-12 02:39] sushain97 opened #61 "Support tagger modes via new Tagger object"
@ftyers thinks this is the most important right now

[2019-08-12 03:39] Vaydheesh commented on #61
By `tagger modes` do you mean https://github.com/apertium/apertium-eng/blob/master/modes.xml#L20

`apertium.Tagger('en')` should return output of above pipeline?

[2019-08-12 03:42] sushain97 commented on #61
Yes.

[2019-08-12 04:01] Vaydheesh commented on #40
I can't find the `lsx-proc` binary in https://apertium.projectjj.com/win64/nightly/apertium-all-dev.zip
- `ls apertium-all-dev/bin` output https://termbin.com/r17c
- `tree apertium-all-dev` output https://termbin.com/75xz
- windows `dir` output https://termbin.com/r01w

[2019-08-12 05:36] TinoDidriksen commented on #40
apertium-separable is not packaged for Windows yet.

[2019-08-12 15:07] #61 closed

[2019-08-12 15:07] sushain97 commented on #61
Nice work!

[2019-08-13 06:36] Vaydheesh commented on #55
Should I close this issue now, all the installation process is handled by `setup.py`

[2019-08-13 06:39] sushain97 commented on #55
Aren't we manually installing and building some wrappers?

[2019-08-13 06:43] Vaydheesh commented on #55
Only `cg3` needs to be built, because the package isn't available.

[2019-08-13 06:46] Vaydheesh commented on #60
If the translation tests are performed on `kaz-tat` pair only, which uses `lrx-proc`, the bug of `lrx-proc -m` can be avoided.

[2019-08-13 06:55] Vaydheesh commented on #44
This is fixed, right? https://github.com/apertium/apertium-python/blob/master/.travis.yml#L15

[2019-08-13 07:03] Vaydheesh commented on #54
Should I create a `uninstaller` as well, or the current approach is appropriate. I can't find anything related to mocking a module, so that import statement raises `ImportError`

[2019-08-13 15:01] sushain97 commented on #54
I think the current approach is okay but not great. Creating an uninstaller is definitely not the solution. Just googling mock import python shows https://stackoverflow.com/questions/8658043/how-to-mock-an-import ?

[2019-08-13 15:02] sushain97 commented on #44
Still installing wrapper manually, so I would keep this open.

[2019-08-13 15:02] sushain97 commented on #60
Then we won't be testing some other stuff iirc so I don't think that's a good idea.

[2019-08-13 15:03] sushain97 commented on #55
Fair enough.

[2019-08-13 15:03] #55 closed

[2019-08-13 15:15] Vaydheesh commented on #54
I have used `unittest.mock`. Mocking the imports would allow us to mock the method calls.  `ImportError` https://github.com/apertium/apertium-python/blob/master/apertium/utils.py#L17 needs to be raised somehow, so that the flag is set to `False`, and subprocess implementation is used. I don't know how to implement this by mocking the import

[2019-08-13 15:52] sushain97 commented on #54
Mock the __import__ itself to throw? Per the SO link above.

On Tue, Aug 13, 2019 at 8:15 AM Lokendra Singh <notifications@github.com>
wrote:

--

[image: Sushain Cherivirala]
*Sushain K. Cherivirala*
Stripe, Software Engineer
Stanford University, M.S. in Computer Science '19
Carnegie Mellon University, B.S. in Computer Science '18
(713) 992-4043 | www.skc.name

[2019-08-14 14:56] Vaydheesh commented on #52
Yes. I've updated all of the wrappers

[2019-08-14 18:45] sushain97 commented on #40
@Vaydheesh how's it going? what are you currently looking at?

[2019-08-14 18:48] Vaydheesh commented on #40
I'm working on the subprocess tests. still trying to figure out what needs to be mocked to trigger the ImportError

[2019-08-15 04:05] sushain97 commented on #40
Ah, okay. I don't suggest spending more than a couple hours on it total. There are more important things to take care of!

[2019-08-16 14:12] Vaydheesh commented on #54
I have tried the above link but still don't know how to raise the error. Even removing the library and reloading `apertium` doesn't help. I've tried modifying `sys.modules` to `None`, even that didn't work.

[2019-08-16 17:02] sushain97 commented on #54
OK. That's fine, we can leave this as is for now. There are a number of other things to work :)

[2019-08-17 13:24] Vaydheesh commented on #51
from irc
[code]

[2019-08-17 13:39] Vaydheesh commented on #40
Since all the processes are either wrapped or skipped, should I continue with the wrapper building for windows or add getopts to support multiple flags  #48

[2019-08-17 16:11] sushain97 commented on #40
Windows. Documentation could also be a good idea.

On Sat, Aug 17, 2019, 6:39 AM Lokendra Singh <notifications@github.com>
wrote:

[2019-08-17 16:57] Vaydheesh commented on #40
I've been working on the multiple flags functionality and I've made the relevant changes in all the wrappers. I just need to update the changes in `utils.py`. Can I complete this and then move onto the next task

[2019-08-17 17:29] sushain97 commented on #40
Sure! I'm a bit worried that you're just creating code that will go out of sync with the real CLI interface though.

[2019-08-18 08:20] Vaydheesh commented on #40
The wrapper can be updated by adding `case` in `switch` block (if the additional functionalities are kept in other .cc file). Its a different story if something like `apertium-tagger` can be implemented, which handles the argument parsing in a function itself.

[2019-08-18 09:33] Vaydheesh commented on #40
I am not well aware of the documentation process. Can you explain what needs to be done? Should I just update the https://github.com/apertium/apertium-python/blob/master/README.md and https://github.com/apertium/apertium-python/tree/master/docs with the usage?

[2019-08-19 23:05] sushain97 commented on #40
Yes. But someone who updates the options will have to do so in two places now, right?

Here are the docs that are generated: https://apertium-python.readthedocs.io/en/latest/. They're mostly a result of the doc comments that need to be improved. The README can also use some improvement. For example, there are no docs regarding installing new packages.

[2019-08-20 04:23] Vaydheesh commented on #40
If those changes needs to be updated in the wrapper then yes

:+1:

[2019-08-20 06:06] sushain97 commented on #40
Is there a way for us to ensure that these updates actually occur? e.g. in the build or test?

[2019-08-20 06:07] sushain97 commented on #40
or even better, a way to refactor and prevent there from being two places?

[2019-08-20 06:10] sushain97 commented on #52
@Vaydheesh wait. You never made the changes to ensure that if I run e.g. `a = apertium.Analyzer('en'); a.analyze('cats')`, the dictionary is not loaded twice. As I mentioned in my review, you need to store e.g. `lttoolbox.FST` object around. Otherwise, there's been no optimization at all.

[2019-08-20 06:36] Vaydheesh commented on #52
oops. I forgot that part. I'll figure out a way to store the objects to speed up the process.

[2019-08-20 06:42] Vaydheesh commented on #40
If the part of wrapping up the arguments can be avoided, then there wont be any need to maintain duplicates. Since all the parsing is being done in `main()`, its not possible to link its object (multiple definition of main would cause linking error) . If the parsing can be done in another function defined in another file, then that file can be linked to the shared library. something like https://g

[2019-08-20 13:24] Vaydheesh commented on #40
I am working on caching the object the wrapper object to prevent reinitialization

[code]
output is `b'^cats/cat<n><pl>$\n'`, but calling `analyze` again, prints `b'^cats/cat<n><pl>/cat<n><pl>$\n'` and calling it third time prints, `b'^cats/cat<n><pl>/cat<n><pl>/cat<n><pl>$\n'`.

Re initializing the object fixes this. I have no clue about this unexpected behavior. Is it even possible to reuse the

[2019-08-20 17:31] sushain97 commented on #40
Hmm... I'm not sure. @unhammer, @xavivars any thoughts? related code: https://github.com/apertium/lttoolbox/blob/master/python/lttoolbox.i#L22

[2019-08-20 20:43] unhammer commented on #40
That certainly is unexpected :-) I've used lttoolbox's `biltrans` from python (with a bare-bones C call ages ago) without problems, it *should* have worked.

What happens if you destxt the input, ie. send `'cats[][\n]'` as input thrice? `FSTProcessor::analysis` isn't meant to be called on undeformatted input, and newlines typically get put in superblanks. (Could it be that `FSTProcssor::analysis`

[2019-08-21 02:27] Vaydheesh commented on #40
- previous output is generated
[code]

[2019-08-21 06:56] unhammer commented on #40
Very strange. What exactly does `fst.lt_proc` call in the C++ code? Does it do `initAnalysis` each time before `analysis`, or just `analysis`? (`initAnalysis` seems to add extra paths to the fst)

[2019-08-21 07:11] Vaydheesh commented on #40
It calls `initAnalysis` each time before `analysis`.

Calling `initAnalysis` once does fix this issue. Here is the equivalent c++ code https://termbin.com/irdm

[2019-08-21 08:23] unhammer commented on #40
If you look at what `initAnalysis` does, it does make sense that you'd end up with duplicate paths on calling it several times.

However, this complicates things a bit – you can't simply do `fst=lttoolbox.FST` and then, once, do `fst.initAnalysis` and then `fst.analysis(string)` because what if the user then does `initGeneration` and wants to try what happens with generation etc.

Maybe you could

[2019-08-22 06:30] sushain97 commented on #40
Well, given that we're not trying to expose a perfect lttoolbox API for Python, I'm fine with the latter option. It should be possible in the current setup.

[2019-08-22 16:47] Vaydheesh commented on #40
after getting familiar with `typemaps` I tried wrapping `FILE *`, RN there are some issues with using multiple argument typemaps, it is possible to wrap the `FILE *` without depending on `PyFile_AsFile` https://github.com/apertium/apertium-python/pull/42#issuecomment-493969448. Using `FILE *` would allow a thin wrapper on the C++ API calls and the required `init` calls as well as other function ca

[2019-08-23 03:23] sushain97 commented on #40
That seems okay to me if it works but I'm not sure how it's related to the stuff above?

[2019-08-23 03:51] Vaydheesh commented on #40
By wrapping `FILE *` separate `init` calls for every argument won't be required

[2019-08-24 18:48] sushain97 commented on #40
Hmm, I'm not seeing why what Unhammer suggested isn't possible via the current approach of passing in temporary path strings.

[2019-08-26 16:46] Vaydheesh commented on #40
Can you have a look at the http://wiki.apertium.org/wiki/User:Vaydheesh/GSoC2019Report to be submitted as GSoC report

[2019-08-27 04:12] sushain97 opened #66 "Get this ready for pip release"
[code]

^ Needs to happen. They should be via dunder methods on the module.

`setup.py` targets for these would be nice:

https://github.com/apertium/apertium-init/blob/master/Makefile#L14-L23

[2019-08-28 07:12] Vaydheesh commented on #66
Should I create a `Makefile` for this?

[2019-08-28 07:19] Vaydheesh commented on #40
https://github.com/apertium/apertium-python/blob/master/apertium/utils.py#L191

is this `TODO` about installing language packages on system?

[2019-08-29 02:50] sushain97 commented on #66
If we can do something in Python, that would be great. If not, `Makefile` works OK.

[2019-08-29 02:52] sushain97 commented on #40
That TODO is actually copied from apertium-apy. I think the concern is that we're parsing .modes files instead of the source modes.xml files. I don't know if the latter are available in an installation from binaries?

[2019-08-29 05:11] TinoDidriksen commented on #40
`modes.xml` is not installed. The worry of "what if a path has | or ' in it?" is technically possible, but highly unlikely to happen - it would break many things, so people know not to be that degenerate.

[2019-08-30 03:11] sushain97 opened #67 "Fix mypy errors that snuck in and prevent them"
https://travis-ci.com/apertium/apertium-python/jobs/228415157#L840

Not sure how these snuck in but not great...

[2019-09-01 17:39] #67 closed

[2019-09-01 17:40] sushain97 opened #68 "Address the PR comments in https://github.com/apertium/apertium-python/pull/65"

[2019-09-01 17:40] #66 closed

[2019-09-01 17:42] #24 closed

[2019-09-01 17:42] #44 closed

[2019-09-01 17:42] sushain97 commented on #39
I think you added these, right? Hopefully there are installations of packages that use hfst stuff as well as lttoolbox?

[2019-09-01 17:53] sushain97 opened #69 "Decouple releasing from installation"
Right now, I can't run something like `make test-release` without going through the installation process. This isn't great.

[2019-09-02 19:36] Vaydheesh commented on #47
This can be closed, right?

[2019-09-02 19:41] #47 closed

[2019-09-02 19:45] Vaydheesh commented on #39
yes. The installation-tests needs some improvement to ensure that packages are being installed properly and not the existing ones aren't used

IIRC `hfst-proc` isn't wrapped so hfst-python isn't installed.

[2019-09-02 20:00] ftyers opened #70 "Bundle apertium-lex-tools with apertium"
It would be good if we could just bundle all the apertium-* together in a single package, e.g. -separable, -lex-tools, -anaphora etc.

[2019-09-02 20:23] Vaydheesh commented on #40
Do we need to set `followlinks=True` https://github.com/apertium/apertium-python/blob/master/apertium/mode_search.py#L65?. The target directories probably wont contain any symbolic links https://github.com/apertium/apertium-python/blob/master/apertium/__init__.py#L75 & https://github.com/apertium/apertium-python/blob/master/apertium/__init__.py#L57

This seems a bit of overkill which reduces code

[2019-09-02 20:58] Vaydheesh commented on #70
according to `control` https://apertium.projectjj.com/apt/nightly/pool/main/a/apertium/apertium-all-dev_3.5.2+g734~6f70c46d-1~xenial1_all.deb
[code]
`apertium-separable` and `apertium-lex-tools` should be installed with `apertium-all-dev`

[2019-09-03 01:20] sushain97 commented on #40
I don't think we need to do anything on that topic until/if people complain.

[2019-09-03 01:21] sushain97 commented on #49
@Vaydheesh is this checklist up to date?

[2019-09-03 01:30] sushain97 opened #71 "Pip installation does not install streamparser"
Missing `install_requires` entry in `setup.py`.

[2019-09-03 01:35] sushain97 opened #72 "Windows package installation not working"
I think there are a couple of issues.

1) `apertium-en-es` isn't getting installed by `pip install apertium` (maybe nothing is since the below stack trace shows that wrappers were unavailable)
2) Installing a package requires restarting the interpreter??
3) Even then, I can't translate. Maybe some issue with paths?

This is on Win 10 inside cygwin.

[code]

[2019-09-03 09:23] AMR-KELEG commented on #71
I have pumped into the same problem.
`ModuleNotFoundError: No module named 'streamparser'`

[2019-09-03 16:55] Vaydheesh commented on #40
I am working on various issues opened, but suddenly appveyor builds started failing due to `generator` tests. It seems some unwanted characters are still present in the output. No changes were done in generator code and travis builds are passing https://ci.appveyor.com/project/apertium/apertium-python/builds/27152942/job/u7iel6ljkqlm683v#L234
[code]

[2019-09-04 15:24] Vaydheesh commented on #72
do you also get the following output
[code]

[2019-09-05 02:28] sushain97 commented on #72
[code]

[2019-09-06 03:53] sushain97 opened #74 "Don't duplicate a bunch of documentation"

[2019-09-06 03:55] sushain97 commented on #71
This seems to work for me now.

[2019-09-06 03:55] #71 closed

[2019-09-06 03:57] sushain97 commented on #72
This still isn't working for me:

[code]

[2019-09-06 03:57] #68 closed

[2019-09-06 04:40] sushain97 commented on #40
Awesome!

[2019-09-06 07:22] Vaydheesh commented on #72
Try calling `apertium.windows_update_path()`

[2019-09-06 07:27] sushain97 commented on #72
That doesn't seem to have helped:

[code]

[2019-09-06 07:43] Vaydheesh commented on #72
and `os.pathsep`

[2019-09-06 07:45] sushain97 commented on #72
[code]

[2019-09-06 07:46] sushain97 commented on #72
[code]

[2019-09-06 11:51] Vaydheesh commented on #72
Does this help?

[code]

[2019-09-07 04:44] sushain97 commented on #72
Nope:

[code]

Here's the whole directory:

[code]

[2019-09-07 04:46] sushain97 commented on #72
This seems to have worked though:

[code]

It looks like the wrappers aren't being installed after pip install?

[2019-09-07 15:21] Vaydheesh commented on #72
Yes, pip installation doesn't install apertium binaries

1. windows https://ci.appveyor.com/project/apertium/apertium-python/builds/27252435/job/i5pdx5ydjs6ssl9i#L42
2. ubuntu https://travis-ci.com/apertium/apertium-python/jobs/232072956#L203

Can we use something like `apertium.download()` which would call https://github.com/apertium/apertium-python/blob/master/setup.py#L21-L29, similar to nltk h

[2019-09-08 01:40] sushain97 commented on #72
What... it should have been per https://stackoverflow.com/questions/20288711/post-install-script-with-python-setuptools ?

Is the output showing an error that gets silenced or something? Maybe https://stackoverflow.com/questions/44549600/custom-post-install-script-not-running-with-pip will help.

[2019-09-08 03:27] Vaydheesh commented on #72
`PostInstallCommand` isn't executed during pip install

- https://travis-ci.com/apertium/apertium-python/jobs/232113355#L204
- https://ci.appveyor.com/project/apertium/apertium-python/builds/27257998/job/k6ceqt70mhvsri5e#L42

installation from source with `-e` flag https://stackoverflow.com/questions/44549600/custom-post-install-script-not-running-with-pip/45389836#45389836 is working fine

- http

[2019-09-08 04:14] Vaydheesh commented on #72
seems like we need to handle multiple cases https://stackoverflow.com/questions/19569557/pip-not-picking-up-a-custom-install-cmdclass/45021666#45021666

can you `test-release` the `test_build` branch

[2019-09-08 17:14] sushain97 commented on #72
Hmm.. that's weird. I can do the test-release.

Also, you can look into nltk/scipy/numpy and see how do they stuff.

[2019-09-08 17:26] sushain97 commented on #72
#69 makes this really annoying... also, now I get the install step happening multiple times on release.

Anyway test released to 0.2.1: https://test.pypi.org/project/apertium/

[2019-09-08 17:27] sushain97 commented on #72
(feel free to just test-release yourself to any random project on pypi)

[2019-09-08 17:47] Vaydheesh commented on #72
https://travis-ci.com/apertium/apertium-python/builds/126366333

the updated `setup.py` is working fine with pip install

[2019-09-08 17:58] sushain97 commented on #72
Does it install multiple times?

[2019-09-08 18:06] Vaydheesh commented on #72
No,

the files are copied only once, https://travis-ci.com/apertium/apertium-python/jobs/232164599#L540
and `Collecting apertium` is also executed once https://travis-ci.com/apertium/apertium-python/jobs/232164599#L210

[2019-09-08 19:47] sushain97 commented on #72
Cool. Send over a PR?

[2019-09-12 06:43] Vaydheesh commented on #60
by setting `-m` as default option https://github.com/apertium/apertium-lex-tools/commit/4f5e5a878b72b6c93ad04852af0337972b5aec7f, all of the tests are hanging https://ci.appveyor.com/project/apertium/apertium-python/branch/master/job/05be3ye351tbguod#L416

[2019-09-13 13:19] kyrgyz-nlp opened #76 "apertium.InstallationNotSupported: Darwin"
Sorry, how do we use this package on Mac?

[2019-09-13 14:39] sushain97 commented on #76
This isn't supported right now.

[2019-09-14 02:36] #69 closed

[2019-09-14 03:33] Vaydheesh commented on #72
`pip install apertium` is now calling setup.py
https://ci.appveyor.com/project/Vaydheesh/apertium-python/builds/27407280/job/i6qn9k2h5j5sc42r#L48

does this solve the issue you've been facing?

[2019-09-22 16:45] #70 closed

[2019-10-02 04:59] sushain97 commented on #72
Yep! It works now. Awesome! Sorry for the late reply.

Two notes:
1. It would be nice to display progress while `setup.py install` is running during `pip install`.
2. These logs are too much for a prod user:
[code]

[2019-10-02 04:59] #72 closed

[2020-05-06 05:37] dimitarsh1 opened #82 "mark_unknown doesn't work"
Hi,
when translating, setting `mark_unknown` to False, does not impact the translation at all, thus always placing a "*" in front of unknown and "@", "#" and "/" in front of errors.

Furthermore, in the translate function in `__init__.py` it seem that the mark_unknown argument does not do anything; it is not invoked or used anywhere.

Any idea how to fix this?

Thanks in advance,
Dimitar

[2020-05-06 06:01] sushain97 commented on #82
Yeah, this is a bug.

[2020-05-06 06:20] dimitarsh1 commented on #82
Yes, I see. Thank you.

On Wed, 6 May 2020, 07:01 Sushain Cherivirala, <notifications@github.com>
wrote:

[2020-05-06 10:03] dimitarsh1 commented on #82
OK,

so, I took some time to get what's going on in the code and what calls what. In the lttoolbox there is no support for unknown.

However, I did a quick fix the following way:
In utils.py in handle_command_with_wrapper:

`  ....
    text = end.decode()
    input_file.write(text)
    input_file.close()

    if 'lt-proc' == command[0]:
        fst = initialized_wrappers[command]
        lt_proc_c

[2020-05-16 19:18] sushain97 commented on #82
Could you send a proper diff/patch or PR? Your comment is really hard to read.

[2020-07-09 13:34] ftyers opened #83 "Doesn't install on Debian GNU/Linux 9 (stretch)"
[code]

[2020-07-10 18:36] sushain97 commented on #83
Seems like an easy fix: https://github.com/apertium/apertium-python/blob/15b0d4a35b6808d50c3a0570db9585b379af61ba/apertium/installer.py#L153-L158

[2020-11-12 22:21] ftyers opened #85 "Set up CI to make sure it works on Windows"

[2020-11-12 22:22] ftyers opened #86 "Add multiple spellings"
I keep doing `analyse()` instead of `analyze()` :(

[2020-11-13 02:14] sushain97 commented on #85
We have windows CI already: https://ci.appveyor.com/project/sushain97/apertium-python/builds/35271599

[2020-11-13 02:14] sushain97 commented on #85
(it's existed since this repo was first created)

[2020-11-13 02:28] ftyers commented on #85
Hmm, but it doesn't test that modules work ?

[2020-11-13 03:27] sushain97 commented on #85
It does.

This just sounds like a bug! Would need more information to see what went wrong.

[2020-11-13 03:28] sushain97 commented on #85
Hmm maybe it's related to some of the skipped tests on windows here: https://github.com/apertium/apertium-python/blob/master/tests/__init__.py#L127-L147

[2020-11-13 06:30] TinoDidriksen commented on #85
Some binaries are available: https://apertium.projectjj.com/win32/nightly/ file `apertium-all-dev.7z` or `.zip`
I still haven't gotten around to cross-building a few of the tools for Windows because WSL has served so nicely, but I can set up the last ones.

[2020-11-13 14:10] ftyers commented on #85
It's more the language packages it seems?

[2020-11-13 15:36] TinoDidriksen commented on #85
Languages are all available, listed in https://apertium.projectjj.com/pkgs.php - the `.deb` files can be extracted with 7-zip or `ar` + `tar -Jx`

[2020-11-26 17:14] juuz0 commented on #86
Can I take this?
Would I need to provide an alternative for the class name too (`Analyzer`) or just providing an alternative name for analyze (analyse) is enough?

[2020-12-04 04:34] b-thebest commented on #86
Can I fix it ?

[2020-12-04 04:35] b-thebest commented on #19
Can I work on this

[2020-12-04 04:39] mr-martian commented on #19
@b-thebest You don't need to ask. Just fork the repo and start working on it.

[2020-12-04 04:46] ftyers commented on #86
@juuz0 I guess that would be better yep.

@b-thebest I don't know, you can try!

[2020-12-04 04:47] ftyers commented on #85
Can it be done by novice users? Wouldn't it be better to have a less onerous method to use this?

[2020-12-04 05:16] b-thebest commented on #86
@ftyers I don't find occurance of analyse(), I think its already been done

[2020-12-04 05:18] mr-martian commented on #86
@b-thebest that's the issue, the code currently has the american spelling (with a z) and it would be nice if it also had the spelling with an s.

[2020-12-04 05:22] b-thebest commented on #86
@mr-martian So, we need to change occurance of "analyze" ==> "analyse"
Is that so?

[2020-12-04 05:22] mr-martian commented on #86
not simply replace
we want both

[2020-12-04 05:23] mr-martian commented on #86
that is, we want an alias for the function

[2020-12-04 05:26] juuz0 commented on #86
just providing an alias for the analyze() function name would be easy tho, I did that a few days ago :/
but couldn't find a way to provide an alias to the `Analyzer` class :/

[2020-12-04 06:18] juuz0 commented on #86
Hello, I just added a pull request to add the aliases for both Analyzer(Analyser) and analyze(analyse), could you please check? :)

[2020-12-04 07:15] TinoDidriksen commented on #85
The native and Java frontends do it for users. The Python frontend can also do the same.

[2020-12-04 08:30] Vaydheesh commented on #85
There is a bug in existing python installer. The `taggers` and other variables aren't updated upon installation of new modules https://github.com/apertium/apertium-python/blob/master/apertium/__init__.py#L82.

However launching a new interpreter should fix this issue.

 I'll create a PR to remove this bug

[2020-12-04 09:14] #83 closed

[2020-12-04 09:18] TinoDidriksen commented on #83
Stretch is too old (Py 3.5), but it will now install on Debian and Ubuntu with Python 3 >= 3.6. Tested on Debian Buster and Ubuntu Bionic.

[2020-12-06 21:43] #85 closed

[2020-12-27 10:40] ftyers opened #89 "Make it easy to use a local / non-installed repo"
It's not at all clear how to use existing compiled modules. e.g. I have `apertium-quc` on my local system, how do I add that repo to be able to use it?

I tried:
[code]

And it returns some stuff but doesn't seem to change state:

[code]

[2020-12-27 10:46] ftyers opened #90 "Sed in modes doesn't work"
[code]

[2020-12-27 13:26] TinoDidriksen commented on #90
The mode parsing code is https://github.com/apertium/apertium-python/blob/master/apertium/utils.py#L189-L197 - the `sed "s/['’]/ʼ/g"` gets parsed as `sed` with arg `"s/[’]/ʼ/g"` and later executed as command `sed` with escaped argument `'"s/[’]/ʼ/g"'` - that is, `'` is removed and the whole argument is wrapped in `'`, and this is correct behavior for raw commands to make them safe to execute. Work

[2021-03-09 01:01] eagad opened #92 "terminate called after throwing an instance of 'Exception' what(): Error: Malformed input stream."
I am running apertium analyzer from a python script. I get this exception that terminates the script immediately. I am not able to catch it inside python, it seems like it's happenning in c++ and doesn't get handle, how can I handle it?

To replicate the issue:

[2021-04-18 07:08] max-keviv commented on #86
@ftyers if the issue is not resolved can I work on this issue

[2021-04-18 08:46] TinoDidriksen commented on #86
@max-keviv there is a PR https://github.com/apertium/apertium-python/pull/87 that I approved, but left a question on that never got answered. So only if you can find other interfaces in need of alternative spellings.

[2021-06-05 07:27] SRDdev commented on #74
@sushain97  Can I work on this issue?
 Can you elaborate on the issue !!

[2021-12-02 09:32] ramazanweb opened #99 "The analyzer does not work if the text contains capital letters"
Text: Сен қалай жасадың? Дұрыс істеу керек

Code:
[code]

Result:
![image](https://user-images.githubusercontent.com/84088237/144395123-4c2a1cdc-fa27-4ae5-a9d9-98d89f7098a9.png)

[2021-12-02 09:37] TinoDidriksen commented on #99
Odd, since it works cmdline:
[code]

[2021-12-02 09:40] ramazanweb commented on #99
Yes in the command line and in apertium-apy everything works fine. But it is in Python that it gives such a result.

[2021-12-02 09:43] ramazanweb commented on #99
It works correctly with lowercase letters

![image](https://user-images.githubusercontent.com/84088237/144397111-5f72d6e4-005c-4364-86fd-92237429de74.png)

[2021-12-21 11:07] XDRAGON2002 commented on #20
Hey, I am new to opensource and would like to work on this issue, could someone guide me regarding how to contribute to this ?

[2022-07-15 18:52] connormayer opened #102 "Parsing slows down with each subsequent parse"
Python 3.8.10
apertium-python 0.2.3
apertium 3.8.1
Ubuntu 20.04 (running under WSL)

Reproducing code:
[code]
When I run this code, the time taken for the same parse gradually increases. In the first few iterations it takes about 0.0009 seconds per parse, but by iteration 1000 it takes about 0.03 seconds, and it increases from there. Moving `parser = apertium.Analyzer('eng')` within the loop doesn

[2022-07-15 20:54] jonorthwash commented on #102
I can confirm this issue.  I'm able to reproduce on Debian GNU/Linux, Python 3.10.5, apertium 3.8.1.

[2022-07-15 20:55] jonorthwash commented on #102
The amount of memory it uses grows as well.  On the first few iterations it uses about 55MB, by 1000 iterations it's up to double that.

[2022-07-15 20:58] connormayer commented on #102
It turns out that this is the specific call that is increasing in execution time: https://github.com/apertium/apertium-python/blob/master/apertium/utils.py#L113. If you set `wrappers_available = False` to avoid using the wrappers, the parses maintain a constant speed, although they're much slower (at least at first) than when the wrapper is used.

[2022-08-23 16:33] bergsving-collective opened #103 "TypeError: __init__() missing 2 required positional arguments: 'returncode' and 'cmd'"
`import apertium

def main():
    print(apertium.translate("nob", "nno", "mitt navn er tore"))

if __name__ == '__main__':
    main()
`

Have set up apertium-python in venv. Trying to translate but met with same constant error.

Error:
Traceback (most recent call last):
  File "C:\Users\USER\PycharmProjects\nynorskOversetter\main.py", line 9, in <module>
    main()
  File "C:\Users\USER\PycharmPro

[2022-08-23 16:54] #103 closed, assigned to nobody

[2022-08-26 22:22] xavivars opened #105 "Segfaults after one translation"
Using any packages (I've tried a few), it works at the first execution, but it fails when executing a second translation

[code]